// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
    width: 100%;
    @include make-container();
    @include make-container-max-widths();

    &:empty {
        display:none;
    }

    @include media-breakpoint-down(sm) {
        padding-left: rem($grid-gutter-mobile * 2);
        padding-right: rem($grid-gutter-mobile * 2);
    }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
    @include make-row();

    &--compact {
        margin-left: 0;
        margin-right: 0;

        > .col,
        > [class^="col-"],
        > [class*=" col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-left: rem( - $gutter-mobile);
        margin-right: rem( - $gutter-mobile);
    }
}


// Columns
//
// Common styles for small and large grid columns
@include make-grid-columns();

.col {
    padding-left: $gutter;
    padding-right: $gutter;
}

@include media-breakpoint-down(sm) {
    .col,
    [class^="col-"],
    [class*=" col-"] {
        padding-left: rem($gutter-mobile);
        padding-right: rem($gutter-mobile);
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-auto {
            max-width: none;
            width: auto;
            flex: initial;
        }
    }
}


// Flex variation
//
// Custom styles for additional flex alignment options.


// Flex column reordering

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-first { order: -1; }
        .col-#{$breakpoint}-last { order: 1; }
        .col-#{$breakpoint}-initial { order: initial; }
    }
}

// Alignment per column

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-top { align-self: flex-start; }
        .col-#{$breakpoint}-center { align-self: center; }
        .col-#{$breakpoint}-bottom { align-self: flex-end; }
    }
}

// Alignment for every column in row

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .align-items-#{$breakpoint}-top { align-items: flex-start; }
        .align-items-#{$breakpoint}-center { align-items: center; }
        .align-items-#{$breakpoint}-bottom { align-items: flex-end; }
        .align-items-#{$breakpoint}-baseline { align-items: baseline; }

        .align-self-#{$breakpoint}-top { align-self: flex-start; }
        .align-self-#{$breakpoint}-center { align-self: center; }
        .align-self-#{$breakpoint}-bottom { align-self: flex-end; }
        .align-self-#{$breakpoint}-baseline { align-self: baseline; }

        .justify-#{$breakpoint}-start   { justify-content: flex-start !important; }
        .justify-#{$breakpoint}-end     { justify-content: flex-end !important; }
        .justify-#{$breakpoint}-center  { justify-content: center !important; }
        .justify-#{$breakpoint}-between { justify-content: space-between !important; }
        .justify-#{$breakpoint}-around  { justify-content: space-around !important; }

        .order-#{$breakpoint}-first   { order: -1; }
        .order-#{$breakpoint}-last    { order: 100; }
        .order-#{$breakpoint}-initial { order: initial; }
    }
}