@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?3e5qjl#iefix') format('embedded-opentype'),
       url('../fonts/icons.svg?3e5qjl') format('svg'),
       url('../fonts/icons.woff?3e5qjl') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
.slick-next:before,
.slick-prev:before,
.swiper-button-next:after,
.swiper-button-prev:after,
.mfp-close:before,
.mfp-arrow-left:before,
.mfp-arrow-right:before,
.custom-checkbox .custom-control__indicator::before,
.form__group.has-success .form__input:after,
.form__group.has-error .form__input:after,
.lang-switch--mobile .lang-switch__toggle:after,
.lang-switch--dropdown .lang-switch__toggle:before,
.lang-switch__item.is-active:after,
.faq__question:before,
.clients__section--collapsible .clients__title:after,
.gallery__slider:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-arrow-sm:before {
  content: "\e919";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-check:before,
.custom-checkbox .custom-control__indicator::before,
.form__group.has-success .form__input:after,
.lang-switch__item.is-active:after {
  content: "\e903";
}
.icon-chevron-down:before,
.lang-switch--dropdown .lang-switch__toggle:before {
  content: "\e904";
}
.icon-chevron-down-2:before,
.faq__question:before {
  content: "\e91a";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-left-2:before {
  content: "\e91b";
}
.icon-chevron-right:before,
.lang-switch--mobile .lang-switch__toggle:after,
.clients__section--collapsible .clients__title:after {
  content: "\e906";
}
.icon-chevron-right-2:before {
  content: "\e91c";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-chevron-up-2:before {
  content: "\e91d";
}
.icon-close:before,
.form__group.has-error .form__input:after {
  content: "\e908";
}
.icon-close-thin:before,
.mfp-close:before {
  content: "\e918";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-next:before,
.slick-next:before,
.swiper-button-next:after,
.mfp-arrow-right:before {
  content: "\e90c";
}
.icon-pdf:before {
  content: "\e90d";
}
.icon-pin:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-prev:before,
.slick-prev:before,
.swiper-button-prev:after,
.mfp-arrow-left:before {
  content: "\e911";
}
.icon-resize:before,
.gallery__slider:after {
  content: "\e91e";
}
.icon-sale:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-trash:before {
  content: "\e914";
}
.icon-trash-2:before {
  content: "\e915";
}
.icon-vkontakte:before {
  content: "\e916";
}
.icon-youtube:before {
  content: "\e917";
}