//
// Links
//

a {
    text-decoration: $link-decoration;
    color: $link-color;
    outline: 0;

    @include transition(all 0.2s ease-in-out);

    @include hover-focus {
        text-decoration: $link-hover-decoration;
        color: $link-hover-color;
    }
}

.link-inherit {
    color: inherit;

    @include hover-focus {
        color: inherit;
    }
}

.link-underline {
    text-decoration: underline;

    @include hover-focus {
        text-decoration: underline;
    }
}

.link-hidden {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none;
    }
}

.link-pseudo {
    text-decoration: none;
    border-bottom: 1px dashed;
    font-weight: $font-weight-medium;
}