// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),
$font-h1: (
    xs: (22px, 30px, '', rem($grid-gutter)),
    lg: ($font-size-h1, $line-height-h1, '', rem(30px)),
) !default;

$font-h2: (
    xs: (17px, 27px, '', rem($grid-gutter)),
    lg: ($font-size-h2, $line-height-h2, '', rem(25px)),
) !default;

$font-h2-stable: (
    xs: ($font-size-h2, $line-height-h2, '', rem($grid-gutter)),
) !default;

$font-h3: (
    xs: ($font-size-h3, $line-height-h3, '', rem(30px)),
) !default;

$font-h4: (
    xs: ($font-size-h4, $line-height-h4, '', rem(20px)),
) !default;

$font-h5: (
    xs: ($font-size-h5, $line-height-h5, '', rem(31px)),
) !default;

$font-h6: (
    xs: ($font-size-h6, $line-height-h6, '', rem(20px)),
) !default;

$font-lg: (
    xs: ($font-size-base, $line-height-base),
    xl: ($font-size-xl, $line-height-xl),
) !default;

$font-md: (
    xs: ($font-size-md, $line-height-md),
) !default;

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: $headings-font-weight;
}
h1, .h1 {
    @include type-responsive($font-h1);
}
h2, .h2 {
    @include type-responsive($font-h2);

    &.is-stable-size {
        @include type-responsive($font-h2-stable);
    }
}
h3, .h3 {
    @include type-responsive($font-h3);
}
h4, .h4 {
    @include type-responsive($font-h4);
}
h5, .h5 {
    @include type-responsive($font-h5);
}
h6, .h6 {
    @include type-responsive($font-h6);
}
.text-lg {
    @include type-responsive($font-lg);
}
.text-md {
    @include type-responsive($font-md);
}
.text-base {
    @include type-responsive($font-base);
}

p,
ol,
ul,
dl {
    margin-top: 0;
    @include margin-bottom(1.2em);
}

p.text-lg {
    margin-bottom: 0.73em;
}

.text-lg {
    p {
        margin-bottom: 0.73em;
    }
}

dd {
    margin: 0;
}

address {
    font-style: normal;
    line-height: inherit;
}

ol li > ol,
ul li > ul,
ol li > ul,
ul li > ol {
    margin-bottom: 0;
}

strong,
b {
    font-weight: $font-weight-bold;
}

blockquote {
    position: relative;
    margin: 0;

    @include media-breakpoint-up(md) {
    }
}

[data-lines] {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

@each $number in [2, 3, 4] {
    [data-lines="#{$number}"] {
        -webkit-line-clamp: #{$number};
    }
}

.is-unclipped {
    -webkit-line-clamp: initial;
}

@each $color-name, $color in $theme-colors {
    .text-#{$color-name} {
        color: #{$color};
        fill: #{$color};
    }
}

.text-muted {
    color: rgba($base-color, .5);
    fill: rgba($base-color, .5);
}

.text-uppercase {
    text-transform: uppercase;
}
.text-underlined {
    text-decoration: underline;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}