// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}


// colors
//
// grayscale and brand colors

$gray:    #f2f2f2 !default;
$gray-2:  #e6e6e6 !default;
$gray-3:  #c4c4c4 !default;
$gray-4:  #bebebe !default;
$gray-5:  #9f9f9f !default;
$gray-6:  #666666 !default;
$gray-7:  #b7b7b7 !default;
$gray-8:  #cacaca !default;
$gray-9:  #bdbdbd !default;
$gray-10: #6e6e6e !default;
$gray-11: #bbbbbb !default;
$gray-12: #cccccc !default;
$gray-13: #f0f0f0 !default;
$gray-14: #f6f6f0 !default;

$yellow:   #ecd402 !default;
$yellow-2: #ffe500 !default;
$yellow-3: #f7e969 !default;

$red:     #eb5757 !default;

$blue:    #215280 !default;
$blue-2:  #52b8f2 !default;
$blue-3:  #e6f9ff !default;
$blue-4:  #00aee7 !default;
$blue-5:  #74c3f0 !default;
$blue-6:  #005fb7 !default;

$white:   #ffffff !default;

$black:   #000000 !default;
$black-2: #282828 !default;
$black-3: #3d3d3d !default;
$black-4: #484848 !default;

$base-color: $black !default;
$primary: $yellow !default;

$colors: () !default;
$theme-colors: () !default;

$theme-colors: map-merge(
  (
  "primary": $primary,
  "error": $red,
  ),
  $theme-colors
);


// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 520px,
  md: 768px,
  lg: 1024px,
  xl: 1220px,
  2xl: 1440px,
  3xl: 1920px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    xl: 1180px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// grid columns
//
// set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter: 20px !default;
$gutter: $grid-gutter / 2 !default;
$grid-gutter-mobile: 8px !default;
$gutter-mobile: $grid-gutter-mobile / 2 !default;


// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: $blue-6 !default;
$link-hover-decoration: inherit !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Roboto', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-light:    300 !default;
$font-weight-normal:   400 !default;
$font-weight-medium:   500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold:     700 !default;
$font-weight-heavy:    800 !default;
$font-weight-black:    900 !default;

$font-size-html:       16px !default;

$font-size-base:       15px !default;
$font-size-xl:         24px !default;
$font-size-lg:         18px !default;
$font-size-md:         13px !default;
$font-size-sm:         11px !default;

$line-height-base:     23.01px !default;
$line-height-xl:       28.01px !default;
$line-height-lg:       22.01px !default;
$line-height-md:       17.01px !default;
$line-height-sm:       13.01px !default;

$font-size-title:      54px !default;
$font-size-h1:         32px !default;
$font-size-h2:         20px !default;
$font-size-h3:         $font-size-base !default;
$font-size-h4:         $font-size-base !default;
$font-size-h5:         $font-size-base !default;
$font-size-h6:         $font-size-base !default;

$line-height-title:    67.01px !default;
$line-height-h1:       38.01px !default;
$line-height-h2:       26.01px !default;
$line-height-h3:       $line-height-base !default;
$line-height-h4:       $line-height-base !default;
$line-height-h5:       $line-height-base !default;
$line-height-h6:       $line-height-base !default;

$headings-font-weight: $font-weight-bold !default;

$theme-fonts: map-merge(
  (
  "md":   ( $font-size-md,   $line-height-md ),
  "lg":   ( $font-size-xl,   $line-height-xl ),
  "base": ( $font-size-base, $line-height-base ),
  ),
  $theme-colors
);

// Responsive font sizes
// breakpoint: ($font-size, $line-height, $font-weight, $margin-bottom),


$font-base: (
    xs: ($font-size-base, $line-height-base),
) !default;


$small-font-size: 80% !default;

$text-muted: rgba($base-color, .5) !default;

// Border radius
//
//
$border-radius: .3125rem !default;
$border-radius-sm: .1875rem !default;
$border-radius-md: $border-radius * 2 !default;
$border-radius-lg: .75rem !default;


// Buttons
//
//
$btn-border-width: 3px !default;
$btn-font-weight: $font-weight-medium !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base + 1 !default;
$btn-font-family: $font-family-base !default;
$btn-padding-x: $btn-line-height - $btn-border-width !default;
$btn-padding-y: $gutter !default;

$btn-padding-y-md: 6px !default;

$btn-border-width-sm: 1px !default;
$btn-font-size-sm: 12px !default;
$btn-line-height-sm: 14.01px !default;
$btn-padding-x-sm: 15px !default;
$btn-padding-y-sm: 7px !default;

$btn-primary-color: $base-color !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: $btn-primary-bg !default;
$btn-primary-bg-hover: $yellow-2 !default;

$btn-primary-color-light: $base-color !default;
$btn-primary-bg-light: $yellow-2 !default;
$btn-primary-border-light: $btn-primary-bg-light !default;
$btn-primary-bg-hover-light: lighten($btn-primary-bg-light, 5%) !default;

$btn-default-color: $link-color !default;
$btn-default-bg: $white !default;
$btn-default-border: $gray-2 !default;
$btn-default-bg-hover: $white !default;

$btn-disabled-bg: $gray !default;
$btn-disabled-color: $base-color !default;


// Form
//
//
$input-color-placeholder: $gray-6 !default;

$input-height: 50px !default;
$input-font-size: $font-size-base !default;
$input-font-weight: $font-weight-normal !default;
$input-font-family: $font-family-base !default;
$input-line-height: $line-height-base !default;
$input-padding-x: 19px !default;
$input-padding-x-right: 46px !default;
$input-padding-y: 13px !default;

$input-height-md: 40px !default;
$input-font-size-md: $font-size-md !default;
$input-line-height-md: $line-height-md !default;
$input-padding-x-md: 15px !default;
$input-padding-x-right-md: 46px !default;
$input-padding-y-md: 10px !default;

$input-color: $base-color !default;
$input-bg-color: $white !default;
$input-border-color: $gray-2 !default;
$input-border-width: 1px !default;

$input-bg-focus: $input-bg-color !default;
$input-border-focus: $input-border-color !default;
$input-color-focus: $input-color !default;

$input-border-hover: $gray-12 !default;

$input-disabled-color: $input-color-placeholder !default;
$input-disabled-bg-color: $input-bg-color !default;
$input-disabled-border-color: $gray-13 !default;

$form-group-margin-bottom: 25px !default;
$form-group-margin-bottom-md: $grid-gutter !default;

$cursor-disabled: not-allowed !default;


// header
//
//
$fixed-header-padding-mobile: 56px !default;
$fixed-header-padding: 192px !default;


// Progress bars
//
//
$progress-height:                   4px !default;
$progress-font-size:                ($font-size-base * .75) !default;
$progress-bg:                       $yellow-3 !default;
$progress-border-radius:            2px !default;
$progress-box-shadow:               none !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   $base-color !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;
