<footer class="footer">
  {% include '../partials/_features.twig' %}

  <div class="footer__main">
    <div class="container">
      <div class="row">
        <div class="footer__menu hidden-md-down col-lg-6">
          <ul class="footer__menu-list">
            {% for item in footerMenu %}
              <li class="footer__menu-item"><a href="#" class="footer__menu-link">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="footer__address col-xs-12 col-md-6 col-lg-3">
          <dl class="footer__address-info">
            <dt class="footer__address-title">{{ company.addressLabel }}</dt>
            <dd class="footer__address-text">{{ company.address }}</dd>
            <dd class="footer__address-text">{{ company.businessHours }}</dd>
          </dl>
          <a href="#" class="footer__address-button button button--primary-outline"><i class="button__icon icon-pin"></i>на Яндекс картах</a>
        </div>

        <div class="footer__contacts col-xs-12 col-md-6 col-lg-3">
          <a href="mailto:{{ company.emailAddress }}" class="footer__contacts-item footer__email link-inherit">{{ company.emailAddress }}</a>
          <div class="footer__contacts-item footer__phones">
            {% for phone in company.phones %}
              <dl class="footer__phones-item">
                <dt class="footer__phones-title"><a href="{{ phone.link }}" class="footer__phone link-hidden">{{ phone.number }}</a></dt>
                <dd class="footer__phones-note text-md">{{ phone.note }}</dd>
              </dl>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="row align-items-md-bottom align-items-lg-center">
        <div class="footer__copyright col-xs-12 col-md-6 col-lg-6">
          <p>{{ company.copyright }}</p>
        </div>

        <div class="footer__social col-xs-12 col-md-6 col-lg-6">
          <h6 class="footer__social-title">Наши социальные сети</h6>
          <ul class="footer__social-list social">
            {% for item in company.social %}
              <li class="social__item"><a href="#" class="social__link icon-{{ item.icon }} link-hidden" title="{{ item.title }}"></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>