  <div class="header__top">
    <div class="header__container container">
      <div class="header__row row align-items-xs-center justify-xs-between">
        <div class="header__col header__col--menu col hidden-lg-down">
          {% include '../partials/_quick-links-list.twig' with { quickLinksClass: 'header__quick-links quick-links--horizontal'} %}
        </div>

        <div class="header__col header__col--search col" data-component="search">
          <form class="header__search form search-form">
            <div class="search-form__group">
              <input type="text" maxlength="150" placeholder="Поиск" required="required" class="search-form__control form__control" data-element="search-input">
              <button class="search-form__submit icon icon-search" type="submit"></button>
            </div>
            <p class="search-form__note">Введите название оборудования, артикул, серийный номер изделия, производителя или другой интересующий вопрос</p>
            <button class="search-form__close icon-close" data-element="search-popup-close"></button>
          </form>
        </div>

        <div class="header__col header__col--lang col hidden-lg-down">
          {% include '../partials/_lang-switch.twig' with { langSwitchClass: 'header__lang-switch lang-switch--dropdown', type: 'dropdown' } %}
        </div>

        <div class="header__col header__col--cart col hidden-lg-down">
          <a href="cart.html" class="header__cart link-inherit">
            <i class="header__cart-icon icon-cart"></i>
            <span class="header__cart-count">2</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header__main">
    <div class="header__container container">
      <div class="header__row row align-items-xs-center justify-xs-between">
        <div class="header__col header__col--logo col">
          <a href="/" class="header__logo">
            <img src="/assets/img/logo-reatorg-white.svg" alt="{{ company.name }} logo" class="header__logo-img header__logo-img--white">
            <img src="/assets/img/logo-reatorg.svg" alt="{{ company.name }} logo" class="header__logo-img header__logo-img--default">
          </a>
        </div>
        <div class="header__col header__col--nav col hidden-lg-down">
          {% include '../partials/_nav.twig' with { navClass: 'header__nav'} %}
        </div>
        <div class="header__col header__col--phones col hidden-lg-down">
          <div class="header__phones">
            {% for phone in company.phones %}
              <a href="{{ phone.link }}" class="header__phone link-hidden">{{ phone.number }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="header__col header__col--request col">
          <a href="#request-popup" class="header__request-button button button--primary button--md" data-element="request-popup-trigger">Отправить запрос</a>
        </div>
        <div class="header__col header__col--mobile-menu col hidden-xl-up">
          {% include '../partials/_mobile-nav.twig' %}
        </div>
      </div>
    </div>
  </div>