{% extends 'layout/_base.twig' %}

{% set pageTitle = '404' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">

      <div class="site-error">
        <img src="/assets/img/404.png" srcset="/assets/img/404@2x.png 2x" alt="404" class="site-error__img">
        <div class="site-error__content">
          <h1 class="site-error__title">Страница не найдена</h1>
          <p class="site-error__description">Неправильно набран адрес страницы или такой страницы на сайте больше не существует</p>
          <div class="site-error__action">
            <a href="/" class="site-error__button button button--primary">На главную</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}