{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Бренд REATORG TECHNOLOGIES' %}
{% set asideMenuActive = 'О бренде' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section article text-block">
          <p>Компания <a href="/">РЕАТОРГ</a> — современная, прогрессивная, клиентоориентированная компания, с 2011 г. специализирующаяся на подборе и поставке химических веществ, субстанций и оборудования надежных европейских, американских и азиатских производителей для химических и фармацевтических производств и лабораторий.</p>
          <p><strong>REATORG TECHNOLOGIES</strong> – российская торговая марка, под которой Компания <a href="/">РЕАТОРГ</a> с 2016 г. осуществляет конструирование и производство оборудования для химической промышленности и смежных отраслей:</p>
          <ul>
            <li>реакторные установки (на базе стеклянных, эмалированных реакторов)</li>
            <li>системы для ректификации и дистилляции</li>
            <li>емкости (стеклянные, из нержавеющей стали)</li>
            <li>скрубберы и абсорбционные колонны</li>
            <li>нутч-фильтры</li>
          </ul>

          {% include 'partials/_img-banner.twig' %}

          <p>Благодаря использованию комплектующих российских и европейских поставщиков удалось добиться снижения себестоимости без потери качества.</p>

          <div class="slogan">
            <span class="slogan__text">REATORG <br>TECHNOLOGIES TM – КАЧЕСТВО, НАДЕЖНОСТЬ, ОТВЕТСТВЕННОСТЬ!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}