{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Вакансии' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section career">
          <div class="career__intro intro-cover">
            <img src="/assets/img/temp/career/cover-career.jpg" alt="" class="intro-cover__bg-img">
            <div class="intro-cover__content">
              <h2 class="intro-cover__title h1">Карьера в Реаторг</h2>
              <p class="intro-cover__description">Мы ищем не только профессионалов, но также предоставляем отличные возможности для роста молодым специалистам</p>
            </div>
          </div>

          {% for section in career.sections|slice(0, 2) %}
            <section class="career__section">
              <h2 class="career__title">{{ section.title }}</h2>
              <ul class="career__list list-default list-default--compact">
                {% for item in section.list %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </section>
          {% endfor %}

          <div class="career__jobs row justify-md-between">
            <div class="career__jobs-col col-xs-12 col-md-6">
              <div class="career__jobs-body">
                {% for section in career.sections|slice(2, 1) %}
                  <section class="career__section">
                    <h2 class="career__title is-stable-size">{{ section.title }}</h2>
                    <ul class="career__list list-default list-default--compact">
                      {% for item in section.list %}
                        <li>{{ item }}</li>
                      {% endfor %}
                    </ul>
                  </section>
                {% endfor %}

                <div class="career__jobs-sites job-sites">
                  {% for item in career.jobSites %}
                    <section class="job-sites__section">
                      <h2 class="job-sites__title is-stable-size">Вакансии на <img src="/assets/img/temp/career/{{ item.image }}.png" alt="" class="job-sites__title-img"></h2>
                      <a href="#" class="job-sites__button button button--primary button--block">Открыть {{ item.name }}</a>
                    </section>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="career__jobs-col col-xs-12 col-md-6">
              <form action="#" method="POST" novalidate="novalidate" class="career__form form form--md career-form" data-parsley-validate="true" data-parsley-trigger="input" data-form="cart-form">
                <h2 class="career-form__title is-stable-size">Хочу работать в <img src="/assets/img/logo-icon.svg" alt="" class="career-form__title-img"></h2>

                <div class="form__group is-required">
                  <label for="seeker-name" class="form__label">Ваше имя</label>
                  <div class="form__input">
                    <input id="seeker-name" name="seeker-name" type="text" class="form__control" required>
                  </div>
                </div>

                <div class="form__group is-required">
                  <label for="seeker-specs" class="form__label">Специализация</label>
                  <div class="form__input">
                    <input id="seeker-specs" name="seeker-specs" type="text" class="form__control" required>
                  </div>
                </div>

                <div class="form__group is-required">
                  <label for="seeker-email" class="form__label">E-mail</label>
                  <div class="form__input">
                    <input id="seeker-email" name="seeker-email" type="email" class="form__control" required>
                  </div>
                </div>

                <div class="form__group">
                  <label for="seeker-about" class="form__label">Расскажите о себе *</label>
                  <div class="form__input">
                    <textarea id="seeker-about" name="seeker-about" rows="3" class="form__control"></textarea>
                  </div>
                </div>

                <div class="form__group form__dropzone">
                  <div class="dropzone" data-dropzone-block>
                    <div class="fallback">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="dropzoneCvUpload">
                        <label class="custom-file__label" for="dropzoneCvUpload">
                          <i class="custom-file__icon icon-attachment"></i><span class="custom-file__text">Прикрепить резюме</span>
                        </label>
                      </div>
                    </div>
                    <div class="dz-message custom-file">
                      <div class="custom-file__label" data-element="dropzone-trigger">
                        <i class="custom-file__icon icon-attachment"></i><span class="custom-file__text">Прикрепить резюме</span>
                      </div>
                    </div>
                    <div class="dz-preview" data-element="dropzone-previews">
                      <div data-element="dropzone-template">
                        <div class="dz-item">
                          <div class="dz-item__col dz-item__col--icon">
                            <i class="dz-item__icon icon-attachment"></i>
                          </div>
                          <div class="dz-item__col dz-item__col--content">
                            <div class="dz-item__name" data-dz-name></div>
                            <div class="dz-item__error error text-error" data-dz-errormessage></div>
                          </div>
                          <div class="dz-item__col dz-item__col--progress">
                            <div class="progress active" role="progressbar">
                              <div class="progress__bar" style="width:50%;" data-dz-uploadprogress></div>
                            </div>
                          </div>
                          <div class="dz-item__col dz-item__col--delete">
                            <button class="dz-item__icon icon-trash" data-dz-remove title="Удалить"></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form__submit">
                  <input type="submit" class="button button--primary button--block" disabled value="Отправить">
                  <p class="form__note">Заполняя данную форму, вы принимаете условия <a href="#">Соглашения об использовании сайта</a>, и соглашаетесь с <a href="#">Правилами обработки и использования персональных данных</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}