{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-cart' %}
{% set pageTitle = 'Ваш заказ' %}

{% block content %}
  <div class="cart">
    <div class="container">
      <h1 class="cart__title">{{ pageTitle }}</h1>
      <div class="row">
        <div class="cart__content col-xs-12 col-xl-8">
          <div class="cart__list">
            {% for item in cart %}
              <div class="cart__item cart-item">
                <a href="product-reactor.html" class="cart-item__picture">
                  <img src="/assets/img/temp/cart/{{ item.image }}.jpg" alt="" class="cart-item__img">
                </a>
                <div class="cart-item__content">
                  <div class="cart-item__code">{{ item.code }}</div>
                  <div class="cart-item__name"><a href="product-reactor.html">{{ item.name }}</a></div>
                </div>
                <div class="cart-item__footer">
                  <div class="cart-item__amount-form amount-form" data-component="amount-form">
                    <button class="amount-form__control icon-minus" data-element="dec-control" type="button" disabled></button>
                    <input type="text" class="amount-form__input form__control" value="1" data-element="amount-input" data-min="1">
                    <button class="amount-form__control icon-plus" data-element="inc-control" type="button"></button>
                  </div>

                  <div class="cart-item__total">
                    {% if item.price %}
                      <div class="cart-item__price">{{ item.price }}</div>
                    {% endif %}
                    <div class="cart-item__sum">{{ item.sum }}</div>
                  </div>

                  <button class="cart-item__delete icon-trash-2" title="Удалить из заказа"></button>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="cart__checkout col-xs-12 col-xl-4">
          <form action="#" method="POST" novalidate="novalidate" class="cart__form form checkout-form" data-parsley-validate="true" data-parsley-trigger="input" data-form="cart-form">
            <div class="checkout-form__header">
              <h2 class="is-stable-size">Оформление заказа</h2>
              <p>Введите данные для отправки заказа</p>
            </div>

            <div class="form__group is-required">
              <label for="customer-name" class="form__label">ФИО</label>
              <div class="form__input">
                <input id="customer-name" name="customer-name" type="text" class="form__control" required>
              </div>
            </div>

            <div class="form__group is-required">
              <label for="customer-email" class="form__label">E-mail</label>
              <div class="form__input">
                <input id="customer-email" name="customer-email" type="email" class="form__control" required>
              </div>
            </div>

            <div class="form__group is-required">
              <label for="customer-phone" class="form__label"><b>Номер телефона</b></label>
              <div class="form__input">
                <input id="customer-phone" name="customer-phone" type="tel" class="form__control" required data-inputmask="'mask': '+7 999 999-9999'">
              </div>
            </div>

            <div class="form__group">
              <label for="customer-message" class="form__label"><b>Комментарий к заказу</b></label>
              <div class="form__input">
                <textarea id="customer-message" name="customer-message" rows="3" class="form__control"></textarea>
              </div>
            </div>

            <div class="form__submit">
              <input type="submit" class="button button--primary button--block" disabled value="Заказать">
              <p class="form__note">Заполняя данную форму, Вы соглашаетесь с <a href="#" class="link-hidden">Правилами обработки и использования персональных данных</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}