{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-cart' %}
{% set pageTitle = 'Ваш заказ' %}

{% block content %}
  <div class="cart">
    <div class="container">
      <div class="cart__message success-message" data-component="success-message">
        <h1 class="success-message__title">Спасибо за заказ!</h1>
        <p class="success-message__description">В ближайшее время наш менеджер свяжется с&nbsp;Вами</p>
        <div class="success-message__action">
          <a href="/" class="success-message__button button button--primary button--block">На главную</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}