{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Реакторы стеклянные' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% include 'partials/_aside-menu-catalog.twig' %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог оборудования</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="catalog">
          {% for section in catalog|slice(4,1) %}
            <section class="section">
              {% if not loop.first %}
                <h2 class="h1">{{ section.title }}</h2>
              {% endif %}
              {% include 'partials/_catalog-list.twig' with { list: section.list } %}
            </section>
          {% endfor %}

          <div class="section">
            {% include 'partials/_banner.twig' with { bannerClass: 'catalog__banner banner--dark banner--inline', bannerLogo: 'logo-reatorg-2-light.svg' } %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-catalog.twig' %}
{% endblock %}
