{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Клиенты' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
          <p class="page-header__description">Вводный текст. Желание понимать бизнес клиента, готовность развивать процессы в команде под его задачи, гибкая методология разработки и особое внимание к качеству менеджмента — базовые принципы работы с нашими заказчиками.</p>
        </div>

        <div class="section clients">
          {% for section in clients %}
            <section class="clients__section">
              <h2 class="clients__title">{{ section.title }}</h2>
              {% include 'partials/_clients-list.twig' with { list: section.list } %}
            </section>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}