{% extends 'layout/_base.twig' %}

{% set pageTitle = '404' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">

      <div class="site-error site-error--lg">
        <div class="site-error__content">
          <h1 class="site-error__title">Страница находится в стадии разработки</h1>
          <p class="site-error__description">Для подбора оптимальной конфигурации оборудования отправьте описание процесса, чертеж, эскиз или техническое задание</p>
          <div class="site-error__action">
            <a href="#" class="site-error__button button button--primary">Напишите нам</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}