{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Контакты' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section contacts">
          <div class="contacts__section contacts__details">
            <div class="contacts__details-content">
              {% for phone in company.phones %}
                <dl class="contacts__item contacts__phone">
                  <dt class="contacts__phone-number h2">
                    <a href="{{ phone.link }}" class="link-hidden">{{ phone.number }}</a>
                  </dt>
                  <dd class="contacts__phone-note text-md">{{ phone.note2 }}</dd>
                </dl>
              {% endfor %}

              <div class="contacts__item">
                <a href="mailto:{{ company.emailAddress }}" class="h2">{{ company.emailAddress }}</a>
              </div>

              <div class="contacts__item">
                {{ company.addressFull }} <br>
                {{ company.businessHours }}
              </div>
            </div>

            <div class="contacts__details-picture">
              <img src="/assets/img/temp/office.jpg" alt="" class="contacts__details-img">
            </div>
          </div>

          <div class="contacts__section contacts__paths row justify-md-between">
            <div class="contacts__paths-content col-xs-12 col-md-6">
              <dl class="contacts__path">
                <dt class="contacts__path-title">Как добраться пешком:</dt>
                <dd class="contacts__path-description">м. Южная, последний вагон метро из центра, выход номер 7 к&nbsp;Варшавскому шоссе, прямо 10 мин. пешком. 3-й подъезд.</dd>
              </dl>

              <dl class="contacts__path">
                <dt class="contacts__path-title">Как добраться на машине:</dt>
                <dd class="contacts__path-description">Описание, где шлагбаум, где парковка, платная-бесплатная?</dd>
              </dl>
            </div>

            <div class="contacts__paths-action col">
              <a href="#" class="contacts__paths-button button button--primary button--block">Посмотреть в Яндекс картах</a>
            </div>
          </div>

          <div class="contacts__section contacts__map" id="map">
          </div>

          <div class="contacts__footer row">
            <div class="contacts__section contacts__social col-xs-12 col-md-6">
              <h2 class="contacts__social-title is-stable-size">Наши социальные сети</h2>
              <ul class="contacts__social-list social social--lg">
                {% for item in company.social %}
                  <li class="social__item">
                    <a href="#" class="social__link icon-{{ item.icon }} link-hidden" title="{{ item.title }}"></a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="contacts__section contacts__cta cta col-xs-12 col-md-6">
              <h2 class="cta__title is-stable-size">Остались вопросы?</h2>
              <div class="cta__action">
                <a href="#" class="cta__button button button--primary">Напишите нам</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU"></script>

  <script> 
    var myMap;
    ymaps.ready(init);
    function init () {
      myMap = new ymaps.Map('map', {
        center: [55.624505,37.617869],
        zoom: 17
      });
      myGeoObject = new ymaps.GeoObject({}, {});
      myMap.geoObjects
      .add(myGeoObject)

      myMap.behaviors.disable('scrollZoom'); 
      /*var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
        locationUrl: '/contact/16/'
      }, {
        iconLayout: 'default#image',
        iconImageHref: '/assets/img/map-marker.png',
        iconImageSize: [46, 56],
        iconImageOffset: [-56, -66]
      }, {
        preset: 'islands#redDotIcon'
      });
      myMap.geoObjects.add(myPlacemark);*/
    }
    </script>
{% endblock %}