{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Каталоги изделий' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% include 'partials/_aside-menu.twig' with { menu: downloadCenter.menu } %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section files">
            {% include 'partials/_files-list.twig' with { files: downloadCenter.files|slice(0, 15) } %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  <div class="header__navbar navbar hidden-xl-up">
    <div class="container">
      <a href="/" class="navbar__back button button--default-outline button--sm">
        <i class="button__icon button__icon--first icon-arrow-sm"></i>
        <span>На главную</span>
      </a>

      <div class="navbar__dropdown dropdown-menu" data-component="dropdown-menu">
        <a href="catalog.html" class="dropdown-menu__toggle button button--default-outline button--sm" data-element="dropdown-menu-toggle">
          <span class="dropdown-menu__toggle-text">О нас</span>
          <i class="dropdown-menu__toggle-icon button__icon icon-chevron-down"></i>
        </a>
        <div class="dropdown-menu__content">
          {% include 'partials/_dropdown-menu-list.twig' with { list : downloadCenter.menu } %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}