{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Часто задаваемые вопросы' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section faq">
          {% for section in faq %}
            <section class="faq__section">
              <h2 class="faq__title is-stable-size">{{ section.title }}</h2>
              {% include 'partials/_faq-list.twig' with { list: section.list } %}
            </section>
          {% endfor %}

          <div class="faq__cta cta">
            <h2 class="cta__title is-stable-size">Остались вопросы?</h2>
            <div class="cta__action">
              <a href="#" class="cta__button button button--primary">Напишите нам</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}