{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-home' %}
{% set headerClass = 'header--transparent' %}

{% block content %}

  {% include 'partials/_cover.twig' %}

  {% include 'partials/_menu.twig' %}

  {% include 'partials/_projects.twig' %}

  {% include 'partials/_showcase.twig' %}

  {% include 'partials/_services.twig' %}

  {% include 'partials/_news.twig' %}

  {% include 'partials/_clients.twig' %}

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-lang.twig' %}
{% endblock %}

{% block scripts %}
  <script>
    /* Lang modal visible on page load */
    $(window).on('load', function () {
      $.magnificPopup.open({
          items: {
              src: '#modal-lang'
          },
          type: 'inline',
          fixedContentPos: true,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'mfp-zoom-in',
      }, 0);
    });
  </script>
{% endblock %}