{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Применение кварцевого концентрата в производстве листового стекла' %}
{% set asideMenuActive = 'База знаний' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
              <li class="breadcrumb__item"><a href="news.html" class="breadcrumb__link">{{ asideMenuActive }}</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section article">
          <div class="article__section text-block">
            <p>Для решения поставленной задачи компанией REATORG были разработаны две установки синтеза REATORG TECHNOLOGIESTM на базе стеклянных реакторов на 30, 50 и 100 л каждая для работы с высокоактивными веществами (до OEB4) во взрывозащищенном исполнении.</p>
            <p>Сложность задачи состояла в том, что требовалось разместить реакторную установку в чистом помещении с высотой потолков 2300 мм и ее размеры не превышали бы 3000×900 мм. Также все реакторы должны были быть связаны друг с другом стеклянными трубами или гибкими шлангами с покрытием фторопластом, которые рассчитаны на работу под вакуумом и с неполярными жидкостями. Так как планировалось работать с высокоактивными веществами, было необходимо предусмотреть безопасный способ загрузки сыпучих компонентов в реакторы, который бы обеспечил защиту на уровне OEB4 (10 мкг/м3 воздушной среды рабочей зоны). Для дозирования жидких компонентов было необходимо предусмотреть съемную мерную ёмкость, что в условиях небольшой высоты помещения стало непростой задачей.</p>
            <p>Специалистами REATORG была разработана технологическая схема, найдены технические решения, подготовлены 3D-модели установок и конструкторские чертежи. Также были произведены стальные компоненты, сборка систем, ПНР и ввод установок в эксплуатацию.</p>

            <div class="images row">
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/project/1.jpg" alt="" class="image__img">
              </div>
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/project/2.jpg" alt="" class="image__img">
              </div>
            </div>

            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>

            <div class="images row">
              <div class="images__item image col-xs-12">
                <img src="/assets/img/temp/project/4.jpg" alt="" class="image__img">
              </div>
            </div>

            <div class="images row">
              <div class="images__item image col-xs-12">
                <img src="/assets/img/temp/project/5.jpg" alt="" class="image__img">
              </div>
            </div>

            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>
            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>
          </div>
        </div>

        <section class="section knowledge-base">
          <h2 class="section__title h1">Другие статьи</h2>

          {% for section in knowledgeBase|slice(0,1) %}
            {% include 'partials/_knowledge-base-list.twig' with { list: section.list, class: 'list-default--columns' } %}
          {% endfor %}

          <div class="section__action">
            <a href="projects.html" class="section__action-button button button--primary">Все статьи</a>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}