{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Новости' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section news">
          {% include 'partials/_news-list.twig' %}

          {% include 'partials/_pagination.twig' with { class: 'news__pagination' } %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}