{% extends 'layout/_base.twig' %}

{% set pageTitle = 'REATORG на выставке «Рharmtech & Ingredient 2019»' %}
{% set asideMenuActive = 'Новости' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
              <li class="breadcrumb__item"><a href="news.html" class="breadcrumb__link">Новости</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section article">
          <div class="article__section text-block">
            <p>22 ноября 2019 г. завершила свою работу 21-я Международная выставка оборудования, сырья и технологий для фармацевтического производства «Pharmtech &amp; Ingredients».</p>
            <p>«Pharmtech &amp; Ingredients» - ведущее международное событие в фармацевтической отрасли в России и странах ЕАЭС. Экспозицию выставки составили стенды более 470 российских и зарубежных компаний, 130 из которых принимали участие впервые. Свои национальные павильоны представили Германия, Швейцария, Индия и Китай. Всего за четыре дня выставку посетило 8 230 специалистов фармацевтической отрасли.</p>

            <div class="images row">
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/article/1.jpg" alt="" class="image__img">
              </div>
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/article/2.jpg" alt="" class="image__img">
              </div>
            </div>

            <h6>В рамках своей экспозиции компания REATORG представила:</h6>
            <ul>
              <li>универсальную установку синтеза REATORG TECHNOLOGIESтм на базе 50-литрового стеклянного реактора с рубашкой и системой отгонки растворителей;</li>
              <li>реакторную установку REATORG TECHNOLOGIESтм на базе 30-литрового стеклянного реактора с рубашкой в стандартном исполнении;</li>
              <li>ёмкость REATORG TECHNOLOGIESтм на 200 литров из нержавеющей стали для приготовления растворов; фильтр-сушилку AGT в асептическом исполнении для фильтрации и сушки промежуточных продуктов и АФС;</li>
              <li>неразборный изолятор с ламинарным потоком воздуха и роботизированный (самостоятельно перемещающийся по заданному маршруту) генератор паров перекиси водорода (VHP генератор) Tailin;</li>
              <li>клапаны для безопасного трансфера высокоактивных веществ ChargePoint;</li>
              <li>технологические трубопроводы для различных сред;</li>
              <li>лабораторное оборудование (системы тестирования на стерильность Tailin и стерильные канистры для фильтрования Steritailin, сушильный шкаф POL-EKO, лабораторные весы и анализатор влажности ViBRA), расходные материалы Agilent и Merck Millopore, лабораторную посуду Duran, реактивы Merck, Sigma-Aldrich, PanReac AppliChem и ABCR, лабораторную мебель.</li>
            </ul>

            <div class="images row">
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/article/3.jpg" alt="" class="image__img">
              </div>
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/article/4.jpg" alt="" class="image__img">
              </div>
            </div>

            <p>Одним из ключевых мероприятий деловой программы выставки «Pharmtech &amp; Ingredients» стал круглый стол «Производство АФИ. Экономический аспект», на котором руководители отечественных компаний обсудили вопросы обеспечения российской фармацевтической отрасли сырьём и материалами собственного производства, преференции локальным компаниям при проведении государственных закупок и экономический эффект таких преференций, а также различные внешние и внутренние факторы, влияющие на рентабельность производства и общее состояние рынка.</p>

            <div class="images row">
              <div class="images__item image col-xs-12">
                <img src="/assets/img/temp/article/5.jpg" alt="" class="image__img">
              </div>
            </div>

            <p>Генеральный директор ООО «РЕАТОРГ» Георгий Хачиян выступил с докладом «Выбор портфеля АФС для производства в России», который был посвящен обзору экономической эффективности производства АФС, возможности привлечения российских производителей интермедиатов и использованию инжиниринговых центров для разработки технологических регламентов для высокомаржинальных субстанций.</p>

            <div class="video">
              <div class="video__placeholder">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9qq62ybXjIc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <div class="article__section">
            <h2>Еще фото с мероприятия</h2>

            <div class="gallery">
              <div class="gallery__slider swiper">
                <div class="swiper-container" data-slider="gallery">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for i in 1..12 %}
                      <div class="gallery__slider-item swiper-slide">
                        <a href="/assets/img/temp/article/gallery/lg.jpg" class="gallery__slider-link" data-element="gallery-trigger">
                          <img src="/assets/img/temp/article/6.jpg" alt="" class="gallery__slider-img">
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>

              <div class="gallery__thumbs thumbs swiper">
                <div class="swiper-container" data-slider="gallery-thumbs">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for i in 1..6 %}
                      <div class="thumbs__item swiper-slide">
                        <img src="/assets/img/temp/article/gallery/{{ i }}.jpg" alt="" class="thumbs__img">
                      </div>
                    {% endfor %}
                    {% for i in 1..6 %}
                      <div class="thumbs__item swiper-slide">
                        <img src="/assets/img/temp/article/gallery/{{ i }}.jpg" alt="" class="thumbs__img">
                      </div>
                    {% endfor %}
                  </div>
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev gallery-thumbs-prev"></div>
                <div class="swiper-button-next gallery-thumbs-next"></div>
              </div>
            </div>
          </div>
        </div>

        <section class="section news">
          <h2 class="section__title h1">Другие новости</h2>
          {% include 'partials/_news-list.twig' with { news: news|slice(0,2) } %}
          <div class="section__action">
            <a href="news.html" class="section__action-button button button--primary">Все новости</a>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}