{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Реакторы эмалированные' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% include 'partials/_aside-menu-catalog.twig' %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог оборудования</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="catalog">
          <div class="section product">
            <div class="product__main">
              <div class="product__media">
                <div class="product__slider swiper">
                  <div class="swiper-container" data-slider="product">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      {% for i in 1..2 %}
                        <div class="product__slider-item swiper-slide">
                          <a href="/assets/img/temp/catalog/product/1-lg.png" class="product__slider-link" data-element="gallery-trigger">
                            <img src="/assets/img/temp/catalog/product/1-lg.png" alt="" class="product__slider-img">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="product__thumbs thumbs swiper">
                  <div class="swiper-container" data-slider="product-thumbs">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      {% for i in 1..2 %}
                        <div class="thumbs__item swiper-slide">
                          <img src="/assets/img/temp/catalog/product/{{ i }}-sm.png" alt="" class="thumbs__img">
                        </div>
                      {% endfor %}
                    </div>
                  </div>

                  <!-- If we need navigation buttons -->
                  <div class="swiper-button-prev product-thumbs-prev"></div>
                  <div class="swiper-button-next product-thumbs-next"></div>
                </div>
              </div>

              <div class="product__content">
                <div class="product__description product__text-block">
                  <p>Реакторные системы REATORG TECHNOLOGIES™ на основе эмалированных реакторов с рубашкой и стеклянной обвязкой</p>
                  <p>Рабочий объем эмалированного реактора: от 50 до 5000 л</p>
                  <p class="product__description-more">
                    <a href="#product-description" class="utility-link" data-scroll><b class="utility-link__name">Подробное описание</b></a>
                  </p>
                </div>

                <div class="product__order">
                  <div class="product__price">Цена по запросу</div>
                  <a href="#" class="product__order-button button button--primary">Заказать</a>
                  <div class="product__availability">Доступность: <b>под заказ</b></div>
                </div>
              </div>
            </div>

            <div class="product__section product__text-block" id="product-description">
              <h2 class="product__section-title">Описание</h2>
              <p>Боросиликатное стекло 3.3 европейского производства (сертификат на состав стекла для валидации)</p>
              <p>Регулировка оборотов с помощью частотного преобразователя/вариатора</p>
              <p>Различный тип перемешивающих устройств Перемешивающие устройства выполнены из стали с фторопластовым покрытием</p>
              <p>Сухое торцевое уплотнение мешалки</p>
            </div>

            <div class="product__section">
              <h2 class="product__section-title">Вас может заинтересовать</h2>

              {% for section in catalog|slice(0,1) %}
                {% include 'partials/_catalog-slider.twig' with { list: section.list } %}
              {% endfor %}
            </div>
          </div>

          <div class="section">
            {% include 'partials/_banner.twig' with { bannerClass: 'product__banner banner--dark banner--inline', bannerLogo: 'logo-reatorg-2-light.svg' } %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-catalog.twig' %}
{% endblock %}
