{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Стандартные стеклянные реакторы без рубашки' %}
{% set asideMenuActive = 'Реакторы стеклянные' %}
{% set asideSubMenuActive = 'Без рубашки' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% include 'partials/_aside-menu-catalog.twig' %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог оборудования</a></li>
              <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">{{ asideMenuActive }}</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="catalog">
          <div class="section product">
            <div class="product__main">
              <div class="product__media">
                <div class="product__slider swiper">
                  <div class="swiper-container" data-slider="product">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      {% for i in 1..8 %}
                        <div class="product__slider-item swiper-slide">
                          <a href="/assets/img/temp/catalog/product/1-lg.png" class="product__slider-link" data-element="gallery-trigger">
                            <img src="/assets/img/temp/catalog/product/1-lg.png" alt="" class="product__slider-img">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="product__thumbs thumbs swiper">
                  <div class="swiper-container" data-slider="product-thumbs">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      {% for i in 1..4 %}
                        <div class="thumbs__item swiper-slide">
                          <img src="/assets/img/temp/catalog/product/{{ i }}-sm.png" alt="" class="thumbs__img">
                        </div>
                      {% endfor %}
                      {% for i in 1..4 %}
                        <div class="thumbs__item swiper-slide">
                          <img src="/assets/img/temp/catalog/product/{{ i }}-sm.png" alt="" class="thumbs__img">
                        </div>
                      {% endfor %}
                    </div>
                  </div>

                  <!-- If we need navigation buttons -->
                  <div class="swiper-button-prev product-thumbs-prev"></div>
                  <div class="swiper-button-next product-thumbs-next"></div>
                </div>
              </div>

              <div class="product__content">
                <div class="product__description product__text-block">
                  <p>Рабочий объем реакторов: 15, 30, 50 и 100 л</p>
                  <p>В комплектацию входит: мерная ёмкость, обратный холодильник, приемная ёмкость</p>
                  <p>Температурный диапазон от  -40°С до +180°С</p>
                  <p>Давление от от -0,98 до +0,5 бар</p>
                  <p class="product__description-more">
                    <a href="#product-description" class="utility-link" data-scroll><b class="utility-link__name">Подробное описание</b></a>
                  </p>
                </div>

                <div class="product__order">
                  <a href="#product-choices" class="product__order-button button button--primary" data-scroll>Выбрать оборудование</a>
                </div>

                <ul class="utility-menu">
                  <li class="utility-menu__item">
                    <a href="#product-video" class="utility-link" data-scroll>
                      <span class="utility-link__icon-box">
                        <i class="utility-link__icon icon-play"></i>
                      </span>
                      <div class="utility-link__content">
                        <b class="utility-link__name">Видео</b>
                      </div>
                    </a>
                  </li>

                  <li class="utility-menu__item">
                    <a href="#product-details" class="utility-link" data-scroll>
                      <span class="utility-link__icon-box">
                        <i class="utility-link__icon icon-pdf"></i>
                      </span>
                      <div class="utility-link__content">
                        <b class="utility-link__name">Полная техническая информация</b>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="product__section product__text-block" id="product-description">
              <h2 class="product__section-title">Описание</h2>
              <p>Боросиликатное стекло 3.3 европейского производства (сертификат на состав стекла для валидации)</p>
              <p>Регулировка оборотов с помощью частотного преобразователя/вариатора</p>
              <p>Различный тип перемешивающих устройств Перемешивающие устройства выполнены из стали с фторопластовым покрытием</p>
              <p>Сухое торцевое уплотнение мешалки</p>
            </div>

            <div class="product__section" id="product-video">
              <h2 class="product__section-title">Видео</h2>
              <div class="video">
                <div class="video__placeholder">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/9qq62ybXjIc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video__caption">Внешний вид товара может отличаться от изображенного на фотографии</div>
              </div>
            </div>

            <div class="product__section" id="product-choices">
              <h2 class="product__section-title">Выбрать оборудование</h2>
              <div class="table-wrapper" data-perfect-scrollbar>
                <table class="table table--product">
                  <colgroup>
                    {% for i in 1..8 %}
                      <col style="width: 12.5%;">
                    {% endfor %}
                  </colgroup>
                  <thead>
                    <tr>
                      {% for item in table.thead|slice(0,1) %}
                        <th><span>{{ item }}</span></th>
                      {% endfor %}
                      {% for item in table.thead|slice(1,10) %}
                        <td><span>{{ item }}</span></td>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                      {% for row in table.tbody %}
                        <tr {% if row.class %}class="{{ row.class }}"{% endif %}>
                          <th>{{ row.th }}</th>
                          {% for item in row.td %}
                            <td><span>{{ item }}</span></td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                      <tr class="button-col">
                        <th></th>
                        {% for i in 1..7 %}
                          <td>
                            <a href="#" class="button button--primary">Заказать<i class="button__icon icon-cart"></i></a>
                          </td>
                        {% endfor %}
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="product__section" id="product-details">
              <h2 class="product__section-title">Полная техническая информация</h2>
              <ul class="utility-menu utility-menu--files">
                <li class="utility-menu__item">
                  <a href="#" class="utility-link">
                    <span class="utility-link__icon-box">
                      <i class="utility-link__icon icon-pdf"></i>
                    </span>
                    <div class="utility-link__content">
                      <span class="utility-link__name">Техническая документация об эксплуатации стандартного стеклянного реактора без рубашки</span>
                    </div>
                  </a>
                </li>

                <li class="utility-menu__item">
                  <a href="#" class="utility-link">
                    <span class="utility-link__icon-box">
                      <i class="utility-link__icon icon-pdf"></i>
                    </span>
                    <div class="utility-link__content">
                      <span class="utility-link__name">Сертификат стандартного стеклянного реактора без рубашки</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div class="product__section">
              <h2 class="product__section-title">Вас может заинтересовать</h2>

              {% for section in catalog|slice(0,1) %}
                {% include 'partials/_catalog-slider.twig' with { list: section.list } %}
              {% endfor %}
            </div>
          </div>

          <div class="section">
            {% include 'partials/_banner.twig' with { bannerClass: 'product__banner banner--dark banner--inline', bannerLogo: 'logo-reatorg-2-light.svg' } %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-catalog-section.twig' with { id: 1 } %}
{% endblock %}
