{% extends 'layout/_base.twig' %}

{% set bodyClass = 'page-catalog' %}
{% set pageTitle = 'Реализация складских запасов' %}
{% set asideMenuActive = 'Акции' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% include 'partials/_aside-menu-catalog.twig' %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог оборудования</a></li>
              <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">{{ asideMenuActive }}</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="catalog">
          <div class="section product">
            <div class="product__main">
              <div class="product__media">
                <div class="product__slider swiper">
                  <div class="product__stickers">
                    <span class="product__sticker sticker sticker--primary">Специальное предложение</span>
                  </div>
                  <div class="swiper-container" data-slider="product">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="product__slider-item swiper-slide">
                        <a href="/assets/img/temp/catalog/product/special-offer-lg.jpg" class="product__slider-link" data-element="gallery-trigger">
                          <img src="/assets/img/temp/catalog/product/special-offer-lg.jpg" alt="" class="product__slider-img">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product__content">
                <div class="product__description">
                  <p>РЕАТОРГ - одна из ведущих на российском рынке организаций, специализирующаяся на комплексном оснащении химических и фармацевтических производств и лабораторий.</p>
                  <p>РЕАТОРГ предлагает продукцию ведущих мировых производителей: Agilent, Merck Millipore, DURAN, BRAND, VITLAB, HIRSCHMANN, EPPENDORF и пр.</p>
                  <p>В целях оптимизации поставок наиболее востребованных позиций РЕАТОРГ обеспечивает их постоянное наличие на своем складе, а для заинтересованных клиентов предлагает индивидуальные складские программы. В данный момент мы проводим распродажу имеющейся в наличии на складе в Москве продукции по привлекательным ценам (скидки – до 30%):</p>
                </div>
              </div>
            </div>

            <div class="product__section">
              <h2 class="product__section-title">Продукция</h2>

              {% for section in catalog|slice(0,1) %}
                {% include 'partials/_catalog-slider.twig' with { list: section.list } %}
              {% endfor %}

              <div class="product__request">
                <p class="product__request-text">Чтобы заказать оборудование, отправьте запрос или напишите на почту <a href="mailto:{{ company.emailAddress }}">{{ company.emailAddress }}</a> и наш менеджер поможет вам подобрать оборудование.</p>
                <a href="#request-popup" class="product__request-button button button--primary" data-element="request-popup-trigger">Отправить запрос на оборудование</a>
              </div>
            </div>

            <div class="product__section" id="product-details">
              <h2 class="product__section-title">Техническая информация</h2>
              <ul class="utility-menu utility-menu--files">
                {% for item in ["Оборудование для химических и микробиологических производств и лабораторий", "Расходные материалы и посуда для лабораторий", "Лабораторная мебель", "Лабораторное и стерилизационное оборудование Nuve (Турция)"] %}
                  <li class="utility-menu__item">
                    <a href="#" class="utility-link">
                      <span class="utility-link__icon-box">
                        <i class="utility-link__icon icon-pdf"></i>
                      </span>
                      <div class="utility-link__content">
                        <span class="utility-link__name">{{ item }}</span>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="product__section">
              <h2 class="product__section-title">Другие акции</h2>

              {% for section in catalog|slice(7,1) %}
                {% include 'partials/_catalog-slider.twig' with { list: section.list } %}
              {% endfor %}
            </div>
          </div>

          <div class="section">
            {% include 'partials/_banner.twig' with { bannerClass: 'product__banner banner--dark banner--inline', bannerLogo: 'logo-reatorg-2-light.svg' } %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-catalog-sale.twig' %}
{% endblock %}
