{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Универсальная установка синтеза REATORG TECHNOLOGIES на базе стеклянных реакторов' %}
{% set asideMenuActive = 'Реализованные проекты' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(3, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="about.html" class="breadcrumb__link">О нас</a></li>
              <li class="breadcrumb__item"><a href="news.html" class="breadcrumb__link">{{ asideMenuActive }}</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section article">
          <div class="article__section text-block">

            <div class="client-card client-card--single">
              <a href="/assets/img/temp/clients/lg.jpg" class="client-card__picture" data-title="Посмотреть отзыв&#xa;клиента" data-title-mobile="смотреть отзыв" data-element="image-modal-trigger">
                <img src="/assets/img/temp/clients/9.png" alt="" class="client-card__img">
              </a>
              <div class="client-card__content">
                <div class="client-card__name">
                  <strong>Заказчик:</strong> ЗАО «БИОКАД»
                </div>
                <div class="client-card__link">
                  <a href="/assets/img/temp/clients/lg.jpg" data-mfp-src="/assets/img/temp/clients/lg.jpg" class="link-pseudo" data-element="text-image-modal-trigger">Посмотреть отзыв</a>
                </div>
              </div>
            </div>

            <p><strong>Задача:</strong> проектирование, изготовление, монтаж, пуско-наладка и ввод в эксплуатацию 2х установок синтеза на базе стеклянных реакторов.</p>
            <p><a href="#equipment" class="link-pseudo" data-scroll>Использованное в проекте оборудование</a></p>
            <p>Для решения поставленной задачи компанией REATORG были разработаны две установки синтеза REATORG TECHNOLOGIESTM на базе стеклянных реакторов на 30, 50 и 100 л каждая для работы с высокоактивными веществами (до OEB4) во взрывозащищенном исполнении.</p>
            <p>Сложность задачи состояла в том, что требовалось разместить реакторную установку в чистом помещении с высотой потолков 2300 мм и ее размеры не превышали бы 3000×900 мм. Также все реакторы должны были быть связаны друг с другом стеклянными трубами или гибкими шлангами с покрытием фторопластом, которые рассчитаны на работу под вакуумом и с неполярными жидкостями. Так как планировалось работать с высокоактивными веществами, было необходимо предусмотреть безопасный способ загрузки сыпучих компонентов в реакторы, который бы обеспечил защиту на уровне OEB4 (10 мкг/м3 воздушной среды рабочей зоны). Для дозирования жидких компонентов было необходимо предусмотреть съемную мерную ёмкость, что в условиях небольшой высоты помещения стало непростой задачей.</p>
            <p>Специалистами REATORG была разработана технологическая схема, найдены технические решения, подготовлены 3D-модели установок и конструкторские чертежи. Также были произведены стальные компоненты, сборка систем, ПНР и ввод установок в эксплуатацию.</p>

            <div class="images row">
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/project/1.jpg" alt="" class="image__img">
              </div>
              <div class="images__item image col-xs-12 col-md-6">
                <img src="/assets/img/temp/project/2.jpg" alt="" class="image__img">
              </div>
            </div>

            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>

            <div class="images row">
              <div class="images__item image col-xs-12">
                <div class="image__picture">
                  <img src="/assets/img/temp/project/3.jpg" alt="" class="image__img">
                </div>
                <div class="image__caption">
                  <ol>
                    <li><a href="product-reactor.html">Универсальная установка синтеза reatorg technologies™ на базе стеклянного реактора, арт. DA12300.</a> Рабочий объем реактора 50 л.</li>
                    <li><a href="product-reactor-2.html">Фильтр-сушилка арт. DA12300</a> в асептическом исполнении для фильтрации и сушки промежуточных продуктов и АФС в био- и фармацевтической промышленности. Площадь  фильтрации 0,08 м². Внутренний  диаметр 325 мм. Номинальный объем 0,04 м².</li>
                    <li><a href="product-reactor-3.html">Стандартный стеклянные реактор с рубашкой мод. DA12300</a>, объем реактора 50 л, диаметр сосуда DN 300</li>
                    <li><a href="product-reactor-4.html">Центрифуга серии GKF арт. DA12300.</a>  Предназначена для работы с продуктами фармацевтической промышленности и тонкого органического синтеза. Высокий фактор разделения обеспечивает низкое содержание влаги или растворителей в конечном продукте. Диаметр барабана: 1000мм Объем барабана: 172л Максимальная загрузка по осадку: 240кг</li>
                    <li>Стандартный стеклянный реактор с рубашкой <a href="product-reactor.html">мод. DA12300</a>, объем реактора 50 л, диаметр сосуда DN 300</li>
                  </ol>
                </div>
              </div>
            </div>

            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>
            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>

            <div class="images row">
              <div class="images__item image col-xs-12">
                <div class="image__picture">
                  <img src="/assets/img/temp/project/4.jpg" alt="" class="image__img">
                </div>
                <div class="image__caption">
                  <p><strong>Реакторная установка Reatorg Technologies.</strong> Установка представляет собой два стеклянных химических реактора рабочим объемом 50 л, с одноуровневыми якорными мешалками из стали с фторопластовым покрытием, двумя мерными емкостями по 25 л, обратными холодильниками площадью 0,75 м2, фторопластовыми картриджными фильтрами для горячей фильтрации. </p>
                </div>
              </div>
            </div>

            <p>Каждая из установок представляет собой 3 стеклянных реактора, смонтированных на единой сборной раме из нержавеющей стали. Каждый реактор оборудован обратным холодильником, мешалкой, манометром, датчиком PT100, CIP-штангой с моющей головкой, регулируемыми по высоте трубкой сбора надосадочного слоя и pH-датчиком в корпусе из фторопласта. 100 литровый реактор оборудован переходником и сплит-клапаном ChargePoint® для безопасной загрузки сыпучих продуктов.</p>
            <p>Для реакторов на 30 и 50 л удалось соблюсти установленную высоту, однако для реактора на 100 л понадобилось сделать короб в потолке с высотой 2550 мм, который позволил разместить холодильник и мерную ёмкость, сохранив возможность подачи жидкости из нее гравитационным методом.</p>

            <div class="images row">
              <div class="images__item image col-xs-12">
                <img src="/assets/img/temp/project/5.jpg" alt="" class="image__img">
              </div>
            </div>

            <p><strong>Доля компонентов, произведенных в России, составила 45%.</strong><br> Стеклянные элементы реакторной системы были произведены компанией Simax (Чехия) специально для REATORG TECHNOLOGIESTM.</p>

            <div class="video">
              <div class="video__placeholder">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9qq62ybXjIc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="section" id="equipment">
          <h2>Использованое в проекте оборудование</h2>

          <div class="catalog">
            {% for section in catalog|slice(0,1) %}
              {% include 'partials/_catalog-slider.twig' with { list: section.list } %}
            {% endfor %}

            <div class="product__request">
              <p class="product__request-text">Чтобы заказать оборудование, отправьте запрос или напишите на почту <a href="mailto:{{ company.emailAddress }}">{{ company.emailAddress }}</a> и наш менеджер поможет вам подобрать оборудование.</p>
              <a href="#request-popup" class="product__request-button button button--primary" data-element="request-popup-trigger">Отправить запрос на оборудование</a>
            </div>
          </div>
        </div>

        <div class="section">
          <h2>Техническая информация</h2>

          <ul class="utility-menu utility-menu--files">
            {% for item in ["Оборудование для химических и микробиологических производств и лабораторий", "Расходные материалы и посуда для лабораторий", "Лабораторная мебель", "Лабораторное и стерилизационное оборудование Nuve (Турция)"] %}
              <li class="utility-menu__item">
                <a href="#" class="utility-link">
                  <span class="utility-link__icon-box">
                    <i class="utility-link__icon icon-pdf"></i>
                  </span>
                  <div class="utility-link__content">
                    <span class="utility-link__name">{{ item }}</span>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="section">
          {% include 'partials/_banner.twig' with { bannerClass: 'catalog__banner banner--dark banner--inline', bannerLogo: 'logo-reatorg-2-light.svg' } %}
        </div>

        <section class="section news">
          <h2 class="section__title h1">Другие проекты</h2>

          {% include 'partials/_projects-list.twig' with { projects: projects.list|slice(0, 2) } %}

          <div class="section__action">
            <a href="projects.html" class="section__action-button button button--primary">Все проекты</a>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-about.twig' %}
{% endblock %}