{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Результаты поиска по запросу «Реактор»' %}
{% set asideMenuActive = 'Все результаты' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% include 'partials/_aside-menu.twig' with { menu: searchResults.menu } %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="search-results">
          <section class="section catalog" id="catalog-results">
            {% include 'partials/_catalog-list.twig' with { list: searchResults.catalog } %}
          </section>

          <section class="section" id="download-results">
            <h2 class="h1">Центр загрузок</h2>
            <ul class="utility-menu utility-menu--files">
              {% for item in searchResults.files %}
                <li class="utility-menu__item">
                  <a href="#" class="utility-link">
                    <span class="utility-link__icon-box">
                      <i class="utility-link__icon icon-{{ item.icon }}"></i>
                    </span>
                    <div class="utility-link__content">
                      <span class="utility-link__name">{{ item.text }}</span>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>

          <section class="section news" id="news-results">
            <h2 class="h1">Новости</h2>
            {% include 'partials/_news-list.twig' with { news: news|slice(0,3) } %}
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}