{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Сервис и услуги' %}
{% set asideMenuActive = 'Все услуги' %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(2, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>

          <div class="text-block">
            <div class="images row">
              <div class="images__item image col-xs-12">
                <img src="/assets/img/temp/project/6.jpg" alt="" class="image__img">
              </div>
            </div>
            <p>Используя наш опыт и компетенции в проектировании фармацевтических и химических производственных линий и промышленных цехов, а также подборе постоянно расширяющегося модельного ряда поставляемого оборудования, в том числе произведенного под собственным брендом Reatorg Technologies™, мы формируем коммерческие предложения с учетом всех предъявляемых заказчиком требований и бюджетных ограничений, гарантируя при этом качество и надежность систем.</p>
          </div>
        </div>

        <div class="section services">
          {% for section in nav|slice(2, 1) %}
            {% include 'partials/_services-list.twig' with { services: section.list } %}
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-services.twig' %}
{% endblock %}