{% extends 'layout/_base.twig' %}

{% set pageTitle = 'Проектирование' %}
{% set asideMenuActive = pageTitle %}

{% block content %}
  <div class="main__body">
    <div class="main__container container">
      <aside class="main__aside hidden-lg-down">
        {% for section in nav|slice(2, 1) %}
          {% include 'partials/_aside-menu.twig' with { menu: section.list } %}
        {% endfor %}
      </aside>

      <div class="main__content">
        <div class="page-header">
          <div class="breadcrumb hidden-lg-down">
            <ul class="breadcrumb__list">
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
              <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Сервис и услуги</a></li>
            </ul>
          </div>

          <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section service">
          {% include 'partials/_request-form-service.twig' %}

          <div class="section article text-block">
            <p>Результатом проектирования является комплект рабочих чертежей по всем разделам, сопровождаемый общей пояснительной запиской и сводным сметным расчетом.</p>
            <p>На основании проектной документации заказчик имеет полную информацию по необходимому объему инвестиций, длительности работ по созданию производства, производительности будущего предприятия, списочной численности персонала и необходимым объемам энергоресурсов.</p>

            <h3>Включает в себя:</h3>
            <ul>
              <li>Проектная документация (Базовый проект);</li>
              <li>Рабочая документация;</li>
              <li>Авторский надзор.</li>
            </ul>

            <h3>Проектная документация</h3>
            <p>Как при строительстве «с нуля», так и при реконструкции уже действующего предприятия по производству лекарственных средств обязательным условием для дальнейшего выполнения строительных работ является прошедшая государственную экспертизу и получившая заключение о соответствии (положительное заключение) государственной экспертизы проектная документация.</p>
            <p>Проектирование фармацевтического предприятия является сложной комплексной работой, в которой помимо соответствия проекта документам по безопасности, охране труда и др., необходимо выполнять требования Правил организации производства и контроля качества лекарственных средств, с целью дальнейшего успешного прохождения квалификации проекта (Desing Qualification).</p>
            <p>Активное взаимодействие с Заказчиком на этапе концептуального проекта позволяет подобрать оптимальные решения, которые впоследствии уточняются и детализируются при подготовке проектной документации.</p>
            <p>Проектная документация включает детальную информацию о различных характеристиках объекта.</p>

            <h3>Рабочая документация</h3>
            <p>После прохождения государственной экспертизы и получения заключения о соответствии (положительное заключение) проектная документация является основанием для получения разрешения на строительство.</p>
            <p>Разрешения на строительство представляет собой документ, подтверждающий соответствие проектной документации требованиям градостроительного плана земельного участка или проекту планировки территории и проекту межевания территории (в случае строительства, реконструкции линейных объектов) и дающий застройщику право осуществлять строительство, реконструкцию объектов капитального строительства.</p>
            <p>После получения разрешения на строительство можно начинать разрабатывать рабочую документацию, которая необходима для реализации в процессе строительства технических решений, заложенных в проектной документации.</p>
            <p>Рабочая документация представляет собой комплект документации, необходимая для выполнения монтажных и строительных работ.</p>

            <h3>Авторский надзор</h3>
            <p>Авторский надзор предусмотрен для всех объектов строительства, в том числе и для фармацевтических производств, и осуществляется разработчиками рабочей документации.</p>
            <p>Строительство завода само по себе является сложным процессом, и выполнение строительных работ по такому проекту также имеет свои трудности. Необходимость авторского надзора заключается в избежании ошибок при строительстве завода, а также для контроля возможных проектных изменений при строительстве.</p>
            <p>Авторский надзор осуществляется в соответствии с СП 11-110-99 "Авторский надзор за строительством зданий и сооружений".</p>
          </div>
        </div>


        <section class="section services">
          <h2 class="section__title h1">Другие услуги</h2>

          {% for section in nav|slice(2, 1) %}
            {% include 'partials/_services-list.twig' with { services: section.list|slice(4, 3) } %}
          {% endfor %}
        </section>

      </div>
    </div>
  </div>
{% endblock %}

{% block navbar %}
  {% include 'partials/_navbar-services.twig' %}
{% endblock %}