.amount-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: rem(134px);

    &__control {
        text-align: center;
        @include size(rem(32px), rem(52px));
        @include font($font-size-html, 52.01px);
        background-color: $white;

        @include hover-focus-active {
            outline: 0;
        }

        &:disabled {
            cursor: $gray-8;
        }
    }

    &__input {
        @include size(rem(62px), rem(52px));
        @include font($font-size-lg, 20.01px);
        border: 0;
        padding-left: rem($gutter / 2);
        padding-right: rem($gutter / 2);
        text-align: center;
        transition: none;
        margin-left: rem(4px);
        margin-right: rem(4px);
    }
}