.career-form {
    &__title {
        &-img {
            margin-left: rem(3px);
            position: relative;
            top: rem(-2px);
        }
    }

    @include media-breakpoint-up(md) {
    }
}