.custom-control {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.25s ease-in-out;

    &__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
    }

    &__indicator {
        position: relative;
        display: block;
        align-self: baseline;
        @include size(rem(30px));
        min-width: rem(rem(30px));
        margin-right: rem(14px);
        user-select: none;
        pointer-events: none;
        text-align: center;
        background-color: $input-bg-color;
        border: solid $input-border-width $input-border-color;
        transition: all 0.25s ease-in-out;

        &:before {
            opacity: 0;
            position: absolute !important;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__input:checked ~ &__indicator,
    &__input:active ~ &__indicator {

        &:before {
            opacity: 1;
        }
    }

    &--md & {
        &__indicator {
            @include size(rem(24px));
            min-width: rem(rem(24px));
            margin-right: rem(12px);
        }
    }

    .has-error & {
        &__indicator {
            border-color: $primary;
            color: $primary;
        }
    }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
    .custom-control__indicator {
        &:before {
            font-size: 1em;
            color: $primary;
        }
    }
}

.custom-radio {
    .custom-control__indicator {
        @include rounded;

        &:before {
            @include rounded;
            background-color: $primary;
            @include size(.7em);
        }
    }
}