.custom-file {
    position: relative;
    margin-top: rem($gutter);
    margin-bottom: rem(4px);

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__label {
        display: flex;
        align-items: center;
        @include font($font-size-md, $line-height-md);
        color: $link-color;

        @include hover-focus {
            color: $link-hover-color;
        }
    }

    &__icon {
        font-size: rem($font-size-html);
        margin-right: rem($gutter);
    }

    &__text {
        text-decoration: underline;
    }

    @include media-breakpoint-up(sm) {
    }
}
