.form {
    &__group {
        margin-bottom: rem($form-group-margin-bottom);

        .form--md & {
            margin-bottom: rem($form-group-margin-bottom-md);
        }
    }

    &__input {
        position: relative;

        .form__group.has-success & {
            &:after {
                font-size: rem(18px);
                position: absolute;
                top: 50%;
                right: rem($grid-gutter);
                transform: translateY(-50%);
                color: $primary;
            }
        }

        .form__group.has-error & {
            &:after {
                font-size: rem(12px);
                position: absolute;
                top: 50%;
                right: rem($grid-gutter);
                transform: translateY(-50%);
                color: $red;
            }
        }
    }

    &__label {
        display: block;
        margin-bottom: rem(2px);

        .form__group.is-required & {
            &:after {
                content: " *";
                color: $primary;
                font-size: 1.2em;
                font-weight: $font-weight-medium;

                .form--primary & {
                    color: $red;
                }
            }
        }

        &:disabled,
        &.disabled,
        &.is-disabled {
            color: $gray-8;
        }

        .form--md & {
            @include font($input-font-size-md, $input-line-height-md + 1);
            margin-bottom: 0;
        }
    }

    &__dropzone {
        .form--md & {
            margin-top: rem($grid-gutter * 1.45);
            margin-bottom: rem($grid-gutter * 1.75);
        }
    }

    &__submit {
        margin-top: rem($grid-gutter * 2.25);

        .form--md & {
            margin-top: rem($grid-gutter * 1.5);
        }
    }

    &__note {
        @include font($font-size-md, 20.01px);
        margin-top: rem($grid-gutter);
        color: $gray-6;

        .form--md & {
            @include font($font-size-sm, $line-height-sm);
            margin-top: rem($gutter);
        }
    }

    &__errors-list {
        margin-top: rem($gutter * .7);
        width: 100%;
        color: $red;
        @include font(12px, 14px);

        .custom-control + & {
            margin-bottom: 1em;
        }
    }

    &__error {
        margin-top: rem($gutter / 2);
    }

    &__note-required {
        margin-top: rem(-9px);
        margin-bottom: rem(38px);
    }

    &--primary {
        background-color: $primary;
    }

    @include media-breakpoint-up(xl) {
    }
}