.request-form {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: rem($grid-gutter * 1.5);
        @include em-line-height($font-size-base, 18.01px);

        &-img {
            display: block;
            width: 84px;
            min-width: 84px;
            margin-right: rem(22px);
            @include rounded;
        }
    }

    &__description {
        margin-bottom: rem($grid-gutter * 1.35);
        @include em-line-height($font-size-base, 18.01px);
    }

    &__footnote {
        margin-top: auto;
        padding-top: rem(77px);
    }

    .form__group {
        margin-bottom: rem($form-group-margin-bottom-md);
    }

    .form__submit {
        margin-top: rem($grid-gutter * .75);
    }

    .form__note {
        color: inherit;
        margin-top: rem(13px);
    }

    &--inline {
        padding: rem($grid-gutter * 1.5 $grid-gutter * .8);
    }

    &--inline & {
        &__footnote {
            padding-top: rem($grid-gutter * 1.5);
        }
    }

    @include media-breakpoint-up(md) {
        &__header,
        &__description,
        &__footnote {
            @include font($font-size-md, 16.01px);
        }
 
        &__header {
            margin-bottom: rem($grid-gutter);
        }

        &__description {
            margin-bottom: rem($grid-gutter);
        }

        .form__group {
            margin-bottom: rem($grid-gutter * .75);
        }

        .form__label {
            @include font($input-font-size-md, $input-line-height-md + 1);
            margin-bottom: 0;
        }

        .form__control {
            @include font($input-font-size-md, $input-line-height-md);
            padding: rem($input-padding-y-md $input-padding-x-right-md $input-padding-y-md $input-padding-x-md);
        }

        .form__note {
            @include font($font-size-sm, $line-height-sm);
            margin-top: rem($gutter);
        }

        &--inline {
            padding-left: rem($grid-gutter * 2);
            padding-right: rem($grid-gutter * 2);

            .form__submit {
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
                margin-top: 0;
            }

            .button {
                width: auto;
                min-width: rem(180px);
            }

            .form__note {
                margin-top: 0;
                margin-bottom: rem($grid-gutter * .4);
                text-align: right;
                max-width: 27.3em;
            }

            .dropzone {
                margin-bottom: rem($grid-gutter * 1.5);
            }

            .custom-file {
                margin-top: 0;
            }
        }

        &--inline & {
            &__main {
                margin-bottom: rem($grid-gutter * .75);
            }

            &__footnote {
                padding-top: 0;
                margin-top: rem( - $grid-gutter * .3);
            }
        }
    }
}