.search-form {
    &__group {
        position: relative;
    }

    &__control {
        width: 100%;
        display: block;
        padding-left: rem(22px);
        padding-right: rem(50px);
        background-color: $gray;
        border: 0;
        height: rem(45px);
        transition: none;

        &::placeholder {
            opacity: 1;
            color: $input-color-placeholder;
            @include font($font-size-md, $line-height-md + 1);
        }
    }

    &__submit {
        position: absolute;
        top: 50%;
        right: rem($grid-gutter);
        transform: translateY(-52%);
        font-size: 0;
        color: $white;

        &:before {
            font-size: rem(19px);
            color: #bdbdbd;
        }
    }

    &__note {
        display: none;
        @include font($font-size-md, 20.01px);
        color: $gray-6;
        margin-top: rem(16px);
    }

    &__close {
        display: none;
        position: fixed;
        top: rem(26px);
        right: rem(16px);
        font-size: rem($font-size-xl);
        z-index: 1000;
    }

    &--mobile-menu &,
    .header--transparent & {
        &__control {
            background-color: $black-2;
            color: $white;

            &::placeholder {
                color: $white;
            }
        }

        &__submit {
            &:before {
                color: $white;
            }
        }
    }

    .search-is-visible & {
        background-color: $white;

        &__submit {
            opacity: 0;
            visibility: hidden;
        }

        &__note,
        &__close {
            display: block;
        }
    }

    @include media-breakpoint-up(xl) {
        &__control {
            border-bottom: 2px solid $primary;

            &:focus,
            &.focus {
                border-bottom-color: $primary;
            }
        }

        &__close {
            top: rem(76px);
            right: rem(35px);
        }

        .search-is-visible & {
            &__control {
                background-color: $white;
                border-width: 0 0 2px;
                padding: rem(8px) 0;
            }
        }
    }
}