.article {
    &__section {
        @include margin-bottom(rem($grid-gutter * 2));
    }

    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: rem($grid-gutter * 3);
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}