.cart {
    padding-top: rem($grid-gutter * 1.5);
    padding-bottom: rem($grid-gutter * 6);

    &__title {
        margin-bottom: rem(27px);
    }

    &__form {
        margin-left: rem(- $grid-gutter-mobile * 2);
        margin-right: rem(- $grid-gutter-mobile * 2);
        padding: rem( ( $grid-gutter * 3) ($grid-gutter-mobile * 2) ( $grid-gutter * 2));
        background-color: $white;
    }

    &__item {
        border-bottom: 1px solid $gray-2;
        padding-bottom: rem($grid-gutter * 2);
        margin-bottom: rem($grid-gutter * 2);

        &:last-child {
            border-bottom-width: 0;
            margin-bottom: rem($gutter);
        }
    }

    &__message {
        margin-top: rem($grid-gutter * 3);
    }

    @include media-breakpoint-up(md) {
        &__form {
            margin-left: 0;
            margin-right: 0;
            padding: rem( ( $grid-gutter * 2) ($grid-gutter * 1.5) ( $grid-gutter * 2.5));
        }

        &__list {
            margin-bottom: rem($grid-gutter * 2);
        }

        &__item {
            overflow: hidden;
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: rem($grid-gutter * 1.5);
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(118px);

        &__content {
            padding-right: rem(84px);
        }

        &__message {
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(2xl) {
    }
}