.career {
    &__intro {
        margin-bottom: rem($grid-gutter * 2);
    }

    &__section {
        @include margin-bottom(rem($grid-gutter * 1.5));
    }

    &__title {
        margin-bottom: rem($grid-gutter * .5);

        &.is-stable-size {
            margin-bottom: rem($grid-gutter * .75);
        }
    }

    &__jobs {
        &-col + &-col {
            margin-top: rem($grid-gutter * 2);
        }

        &-body {
            background-color: $white;
            padding: rem($grid-gutter * 2 $grid-gutter);
            height: 100%;
        }

        &-sites {
            margin-top: rem($grid-gutter * 2);
        }
    }

    &__form {
        background-color: $white;
        padding: rem($grid-gutter * 1.5 $grid-gutter $grid-gutter * 2);
        height: 100%;
    }

    @include media-breakpoint-up(md) {
        &__jobs {
            &-col {
                max-width: 46.7%;
            }

            &-col + &-col {
                margin-top: 0;
            }

            &-body {
                padding-bottom: rem($grid-gutter * 3);
            }

            &-sites {
                margin-top: rem($grid-gutter * 3);
            }
        }

        &__form {
            padding-top: rem($grid-gutter * 1.65);
        }
    }


    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: rem($grid-gutter * 2);
        }

        &__title {
            margin-bottom: rem($grid-gutter * .75);
        }

        &__jobs {
            margin-top: rem($grid-gutter * 3);

            &-body {
                padding-left: rem($grid-gutter * 2);
                padding-right: rem($grid-gutter * 2);
            }
        }

        &__form {
            padding-left: rem($grid-gutter * 2);
            padding-right: rem($grid-gutter * 2);
        }
    }
}