.catalog {
    &__slider {
        .catalog__item {
            margin-bottom: 0;
            max-width: 45vw;
            max-width: rem(168px);
        }
    }

    &-slider-next,
    &-slider-prev {
        opacity: 0;
        visibility: hidden;
    }

    &__list {
        margin-bottom: rem( - $grid-gutter-mobile);

        &--sm {
            @include list-unstyled;
            margin-bottom: 0;

            .catalog__list-item {
                @include margin-bottom(rem(25px));
            }
        }
    }

    &__item {
        margin-bottom: rem($grid-gutter-mobile);
    }

    @include media-breakpoint-up(sm) {
        &__list {
            margin-bottom: rem( - $grid-gutter);
        }

        &__item {
            margin-bottom: rem($grid-gutter);
        }
    }

    @include media-breakpoint-up(md) {
        &__slider {
            .catalog__item {
                max-width: rem(240px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__slider {
            .catalog__item {
                max-width: rem(300px);
            }
        }

        &__list {
            &--sm {
                .catalog__list-item {
                    margin-bottom: rem($grid-gutter);
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            .catalog__item {
                max-width: none;
            }
        }

        &-slider-next,
        &-slider-prev {
            opacity: 1;
            visibility: visible;
        }

        &-slider-next {
            right: rem($gutter);
        }

        &-slider-prev {
            left: rem($gutter);
        }
    }

    @include media-breakpoint-up(2xl) {
        &-slider-next {
            right: rem(-38px);
        }

        &-slider-prev {
            left: rem(-38px);
        }
    }
}