.certificates {
    &__list {
        &,
        &:last-child {
            margin-bottom: rem( - $grid-gutter * 1.5);
        }
    }

    &__item {
        margin-bottom: rem($grid-gutter * 1.5);
    }

    @include media-breakpoint-up(2xl) {
    }
}