.clients {
    &__slider {
        .swiper-container {
            overflow: visible;
        }
    }

    &-slider-next,
    &-slider-prev {
        opacity: 0;
        visibility: hidden;
    }

    &__slide {
        width: 80vw;
        max-width: rem(200px);
    }

    &__section {
        @include margin-bottom(rem($grid-gutter * 2.5))

        &--collapsible {
            border-bottom: 1px solid $gray-2;
            padding-bottom: rem($grid-gutter * 1.2);
            margin-bottom: rem($grid-gutter * .85);
            transition: .25s ease-in-out;

            .clients__title {
                padding-left: rem($grid-gutter * .7);
                padding-right: rem($grid-gutter * 1.7);
                position: relative;

                &:after {
                    position: absolute;
                    top: rem(6px);
                    right: rem(9px);
                    color: $gray-5;
                    font-size: rem(16px);
                    transform: rotate(90deg);
                    transition: transform .25s ease-in-out;
                }
            }

            .clients__list {
                max-height: 1500px;
                padding-bottom: rem($grid-gutter * .6);
                overflow: visible;
                transition: max-height .25s ease-in-out;
            }

            &.is-collapsed {
                .clients__title {
                    &:after {
                        transform: rotate(0);
                     }
                }

                .clients__list {
                    max-height: 0;
                    padding-bottom: 0;
                    overflow: hidden;
                }
            }
        }
    }

    &__list {
        margin-bottom: rem( - $grid-gutter * 1.4);
    }

    &__item {
        margin-bottom: rem($grid-gutter * 1.4);
    }

    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: rem($grid-gutter * 3);

            &--collapsible {
                margin-bottom: rem($grid-gutter * .85);
            }
        }

        &__list {
            margin-bottom: rem( - $grid-gutter);
        }

        &__item {
            margin-bottom: rem($grid-gutter);
        }
    }

    @include media-breakpoint-up(xl) {
        &__section {
            &--collapsible {
                border-bottom-width: 0;
                padding-bottom: 0;
                margin-bottom: rem($grid-gutter * 3);
                transition: none;

                .clients__title {
                    padding-left: 0;
                    padding-right: 0;

                    &:after {
                        display: none;
                    }
                }

                .clients__list {
                    max-height: none;
                    padding-bottom: 0;
                    overflow: visible;
                    transition: none;
                }

                &.is-collapsed {
                    .clients__list {
                        max-height: none;
                        overflow: visible;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(2xl) {
        padding-bottom: rem(74px);

        &__slider {
            .swiper-container {
                overflow: hidden;
            }
        }

        &-slider-next,
        &-slider-prev {
            opacity: 1;
            visibility: visible;
        }

        &__slide {
            width: auto;
            max-width: none;
        }
    }
}