.contacts {
    &__section {
        @include margin-bottom(rem($grid-gutter * 3));
    }

    &__details {
        background-color: $white;

        &-picture {
            @include aspect-ratio-block(440/329);
        }

        &-img {
            @extend %cover-image;
        }

        &-content {
            padding: rem($grid-gutter * 2.5 $grid-gutter * 2 $grid-gutter * 2);
        }
    }

    &__item {
        @include margin-bottom(rem($grid-gutter));

        &:last-child {
            margin-top: rem($grid-gutter * 1.5);
        }

        a {
            font-weight: $font-weight-medium;
        }
    }

    &__phone {
        &-number {
            margin-bottom: 0;
        }

        &-note {
            color: $gray-6;
            margin-bottom: 0;
        }
    }

    &__paths {
        &-action {
            margin-top: rem($grid-gutter);
        }
    }

    &__path {
        @include margin-bottom(rem($grid-gutter * 1.5));

        &-title {
            font-weight: $font-weight-bold;
        }
    }

    &__map {
        @include aspect-ratio-block(880/611);
        margin-top: rem( - $grid-gutter * 1.5);

        > * {
            @extend %cover-image;
            height: 100% !important;
            position: absolute !important;
        }
    }

    &__social {
        &-title {
            font-weight: $font-weight-medium;
        }
    }

    @include media-breakpoint-up(md) {
        &__footer {
            .contacts__section {
                margin-bottom: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: rem($grid-gutter * 2);
        }

        &__details {
            display: flex;

            &-picture,
            &-content {
                max-width: 50%;
                flex: 0 0 50%;
            }

            &-content {
                padding-top: rem($grid-gutter * 2);
            }
        }

        &__paths {
            &-action {
                text-align: right;
                margin-top: 0;
            }

            &-button {
                width: auto;
            }
        }

        &__map {
            margin-top: 0;
        }

        &__footer {
            margin-top: rem($grid-gutter * 3.5);
        }
    }
}