.cover {
    background-color: $black;
    color: $white;
    min-height: 100vh;
    display: flex;
    padding-top: rem(134px);
    flex-direction: column;

    &__container {
        position: relative;
    }

    &__slider {
        flex: 1;
        display: flex;
        padding-bottom: rem(95px);
    }

    &__menu {
        position: absolute;
        left: 0;
        right: 0;
        bottom: rem(37px);
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        max-width: rem(343px);
    }

    &__events {
        border-top: 2px solid $white;
    }

    @include media-breakpoint-up(md) {
        &__menu {
            max-width: none;
        }
    }

    @include media-breakpoint-up(lg) {

        &__slider {
            padding-bottom: rem(30px);
        }

        &__menu {
            bottom: rem(62px);
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(131px);
        margin-bottom: rem(85px);
    }
}