.events {
    &__slider {
        padding-left: rem(26px);
        padding-right: rem(26px);
        position: relative;

        .swiper-button-next,
        .swiper-button-prev {
            background: rgba($gray-3, .2);
            color: rgba($white, .5);

            &.swiper-button-disabled {
                opacity: 0.75;
            }
        }

        .swiper-button-next {
            right: -8px;
        }

        .swiper-button-prev {
            left: -8px;
        }
    }

    @include media-breakpoint-up(md) {
        &__slider {
            padding-left: rem(66px);
            padding-right: rem(66px);

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            padding-left: rem(91px);
            padding-right: 0;

            .swiper-button-next {
                right: auto;
                left: 32px;
            }

        }
    }

    @include media-breakpoint-up(2xl) {
    }
}