.faq {
    &__section {
        @include margin-bottom(rem($grid-gutter * 4.6));
    }

    &__title {
        font-weight: $font-weight-medium;

        &,
        &.is-stable-size {
            margin-bottom: rem($grid-gutter * 1.6);
        }
    }

    &__item {
        border-bottom: 1px solid $gray-2;
        position: relative;
        padding-left: rem($grid-gutter * 1.8);
        padding-bottom: rem($grid-gutter * 1.5);
        margin-bottom: rem($grid-gutter * 1.5);

        &:last-child {
            border-bottom-width: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__question {
        cursor: pointer;
        margin-bottom: rem($gutter * .8);
        @include em-line-height($font-size-h3, 18.01px);

        &:before {
            position: absolute;
            top: rem(-2px);
            left: 0;
            color: $primary;
            font-size: rem(20px);
            transform: rotate(180deg);
            transition: transform .25s ease-in-out;
        }

        .faq__item.is-collapsed & {
            &:before {
                transform: rotate(0);
            }
        }
    }

    &__answer {
        color: $gray-10;

        &-content {
            -webkit-line-clamp: initial;

            p {
                margin-bottom: 0;
            }

            .faq__item.is-collapsed & {
                @include text-clamp(3);
            }
        }
    }

    &__screen {
        margin-top: rem($grid-gutter * 1.1);
        margin-left: rem( - $grid-gutter * 1.8);
    }

    @include media-breakpoint-up(md) {
        &__screen {
            margin-left: 0;
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}