.features {
    &__slider {
        .swiper-container {
            overflow: visible;
        }
    }

    &-slider-next,
    &-slider-prev {
        opacity: 0;
        visibility: hidden;
    }

    &__item {
        width: 80vw;
        max-width: rem(170px);
    }

    @include media-breakpoint-up(2xl) {
        &__slider {

            .swiper-container {
                overflow: hidden;
            }

            .swiper-button-next,
            .swiper-button-prev {
            }
        }

        &-slider-next,
        &-slider-prev {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            top: rem(6px);
        }

        &__item {
            width: auto;
            max-width: none;
        }
    }
}