.files {
    &__list {
        @include list-unstyled;

        &,
        &:last-child {
            margin-bottom: rem( - $grid-gutter * 1.8);
        }
    }

    &__item {
        padding-bottom: rem($grid-gutter * 1.8);
    }

    &__pagination {
        margin-top: rem($grid-gutter * 1.5);
    }

    @include media-breakpoint-up(md) {
        &__list {
            columns: 2;
            column-gap: rem($grid-gutter);
        }

        &__item {
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
        }
    }
}