.gallery {
    &__slider {
        &:after {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        &__slider {
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: rem($grid-gutter * 2);
                background-color: rgba($gray, .6);
                font-size: rem(22px);
                padding: rem(9px);
                z-index: 1;
                text-align: right;
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}