.intro-cover {
    position: relative;
    overflow: hidden;

    &__bg-img {
        @extend %cover-image;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-color: rgba($gray-14, .55);
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 2;
        padding: rem(100px 45px);
    }

    &__title {
        margin-bottom: rem($gutter);
    }

    &__description {
        @include font(17px, 26.01px);
    }

    @include media-breakpoint-up(lg) {
        &__content {
            padding-left: rem(120px);
            padding-right: rem(120px);
        }

        &__description {
            @include font(20px, 26.01px);
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}