.knowledge-base {
    &__section {
        @include margin-bottom(rem($grid-gutter * 1.6));
    }

    &__title {
        font-weight: $font-weight-medium;

        &,
        &.is-stable-size {
            margin-bottom: rem($grid-gutter * 1.35);
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: rem($grid-gutter * 1.95);
        }

        &__title {
            &,
            &.is-stable-size {
                margin-bottom: rem($grid-gutter * .7);
            }
        }
    }
}