.news {
    &__list {
        margin-bottom: rem( - $grid-gutter);
    }

    &__item {
        margin-bottom: rem($grid-gutter);
    }

    &__pagination {
        margin-top: rem($grid-gutter * 1.5);
    }

    @include media-breakpoint-up(xl) {
        &__item {
            min-width: rem(calc( 380px + #{$grid-gutter}));
        }
    }
}