.page-header {
    margin-bottom: rem($grid-gutter);

    h1 {
        margin-bottom: 0;
    }

    h1 + p {
        margin-top: rem($grid-gutter);
    }

    &__description {
        display: none;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($grid-gutter * 1.5);

        &__description {
            display: block;
        }
    }
}