.projects {
    &__slider {
        .swiper-container {
            width: 100vw;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            position: relative;
            overflow: visible;
        }
    }

    &-slider-next,
    &-slider-prev {
        opacity: 0;
        visibility: hidden;
    }

    &__item {
        @include margin-bottom(rem($grid-gutter));
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
        &-slider-next,
        &-slider-prev {
            opacity: 1;
            visibility: visible;
        }
    }
}