.product {
    &__main {
        margin-bottom: rem($grid-gutter * 1.5);
    }

    &__media {
        background-color: $white;
        margin-bottom: rem(30px);
        padding: rem($gutter);
    }

    &__slider {
        position: relative;

        &-item {
            @include aspect-ratio-block(450/450);
        }

        &-img {
            @extend %cover-image;
        }
    }

    &__thumbs {
        background-color: $white;
        padding-left: rem($grid-gutter * 1.55);
        padding-right: rem($grid-gutter * 1.55);
        margin-bottom: rem(- $gutter);
    }

    &__stickers {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &__description {
        &-more {
            margin-top: rem(22px);
        }
    }

    &__text-block {
        p {
            @include margin-bottom(rem($gutter * .5));
        }
    }

    &__order {
        margin-top: rem($grid-gutter * 3);
        @include margin-bottom(rem($grid-gutter * 3));
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__price {
        @include font($font-size-xl, $line-height-xl, $font-weight-medium);
        margin-bottom: rem(15px);
    }

    &__availability {
        margin-top: rem(18px);
    }

    &__section {
        padding-top: rem($grid-gutter * 1.5);
        padding-bottom: rem($grid-gutter * 1.5);

        &:last-child {
            padding-bottom: 0;
        }

        dl {
            margin-bottom: 2.67em;
        }
    }

    &__request {
        margin-top: rem($grid-gutter * 1.5);

        &-text {
            margin-bottom: rem(19px);
        }

        &-button {
            width: 100%;
        }
    }

    @include media-breakpoint-up(md) {
        &__main {
            display: flex;
            align-items: flex-start;
        }

        &__media {
            max-width: 370px;
            flex: 0 0 54%;
            margin-right: rem($grid-gutter);
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__media {
            max-width: 470px;
            margin-right: rem($grid-gutter * 2);
        }

        &__thumbs {
            padding-left: rem(49px);
            padding-right: rem(49px);
        }

        &__description {
            &-more {
                margin-top: rem($gutter);
            }
        }

        &__request {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            &-text {
                margin-bottom: 0;
            }

            &-button {
                margin-right: rem(36px);
                width: auto;
                min-width: auto;
                padding-top: rem(6px);
                padding-bottom: rem(6px);
                white-space: nowrap;
            }
        }
    }

    @include media-breakpoint-up(xl) {
    }
}