.request-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary;
    z-index: 100;
    visibility: hidden;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform .4s ease-in-out, visibility .4s ease-in-out;
    transform: translateX(100%);
    padding: rem( ( $grid-gutter * 1.5 ) ( $grid-gutter * .8 ));
    display: flex;
    flex-direction: column;

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    .ps__rail-y {
        margin-right: 0;
        background-color: rgba($white, .5);
    }

    .ps__thumb-y {
        background-color: rgba($white, .75);
    }

    &__header {
        padding-right: rem($grid-gutter * 2.5);
    }

    &__title {
        @include type-responsive($modal-title);
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 16px;
        @include size(40px);

        &:before {
            font-size: 40px;
        }
    }

    .success-message {
        max-width: rem(255px);
        margin: auto;
        padding-bottom: rem($grid-gutter * 6);
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        width: rem(400px);
        padding-left: rem($grid-gutter * 1.5);
        padding-right: rem($grid-gutter * 1.5);
    }

    @include media-breakpoint-up(xl) {
    }
}