.search-results {
    &__section {
        padding-top: rem($grid-gutter * 1.2);
        padding-bottom: rem($grid-gutter * 1.2);
    }

    &__title {
        margin-bottom: rem(18px);
    }

    &__more {
        margin-top: rem($grid-gutter);
    }

    @include media-breakpoint-up(lg) {
        &__section {
            padding-top: rem($grid-gutter * 1.5);
            padding-bottom: rem($grid-gutter * 1.5);
        }

        &__title {
            margin-bottom: rem(26px);
        }
    }
}