.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: $white;
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition: opacity .25s ease-in-out;
    }

    &__results {
        margin-top: rem( - $grid-gutter * .7);
        padding-bottom: rem($grid-gutter);
    }

    @include media-breakpoint-up(md) {
        &__results {
            width: rem(640px);
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include media-breakpoint-up(xl) {
        &__results {
            margin-top: rem($grid-gutter * 2.35);
        }
    }
}