.section {
    position: relative;
    @include margin-bottom(rem($grid-gutter * 3));

    &[id] {
        &:before {
            height: rem($grid-gutter * 1.5);
            content: '';
            display: block;
            margin-top: rem( - $grid-gutter * 1.5);
        }
    }

    &__action {
        margin-top: rem($grid-gutter);

        &-button {
            width: 100%;
        }
    }

    &__banner {
        margin-top: rem($grid-gutter * 3);
    }

    &--divided {
        border-top: 1px solid $gray-2;
    }

    &--preview {
        padding-top: rem($grid-gutter * 1.5);
        padding-bottom: rem($grid-gutter * 1.5);
        margin-bottom: 0;

        &:before {
            display: none;
        }
    }

    @include media-breakpoint-up(md) {
        &__action {
            margin-top: rem($grid-gutter * 1.5);

            &-button {
                width: auto;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: rem($grid-gutter * 3.5);

        &__banner {
            margin-top: 0;
        }

        &--preview {
            padding-top: rem($grid-gutter * 3.25);
            padding-bottom: rem($grid-gutter * 3.25);
            margin-bottom: 0;
        }
    }
}