.services {
    &__slider {
        .swiper-container {
            overflow: visible;
        }
    }

    &-slider-next,
    &-slider-prev {
        opacity: 0;
        visibility: hidden;
    }

    &__slide {
        width: 80vw;
        max-width: rem(280px);
    }

    &__list {
        &,
        &:last-child {
            margin-bottom: rem( - $grid-gutter);
        }
        margin-bottom: rem($grid-gutter);
    }

    &__item {
        margin-bottom: rem($grid-gutter);
    }

    @include media-breakpoint-up(lg) {
        &__list {
            &,
            &:last-child {
                margin-bottom: rem( - $grid-gutter * 1.5);
            }
            margin-bottom: rem($grid-gutter);
        }

        &__item {
            margin-bottom: rem($grid-gutter * 1.5);
        }
    }

    @include media-breakpoint-up(2xl) {
        &__slider {
            .swiper-container {
                overflow: hidden;
            }
        }

        &-slider-next,
        &-slider-prev {
            opacity: 1;
            visibility: visible;
        }

        &__slide {
            width: auto;
            max-width: none;
        }
    }
}