.showcase {
    &__slider {
        .swiper-container {
            overflow: visible;
        }
    }

    &-slider-next,
    &-slider-prev {
        opacity: 0;
        visibility: hidden;
    }

    &__item {
        width: 80vw;
        max-width: rem(280px);
    }

    @include media-breakpoint-up(lg) {
        &__item {
            max-width: rem(400px);
        }
    }

    @include media-breakpoint-up(2xl) {
        &__slider {
            .swiper-container {
                overflow: hidden;
            }
        }

        &-slider-next,
        &-slider-prev {
            opacity: 1;
            visibility: visible;
        }

        &__item {
            width: auto;
            max-width: none;
        }
    }
}