.site-error {
    text-align: center;
    padding-top: rem($grid-gutter * 2.9);
    padding-bottom: rem($grid-gutter * 6.5);

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem($grid-gutter * 2.75);
    }

    &__content {
        max-width: rem(425px);
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-bottom: rem($grid-gutter * 0.85);
    }

    &__description {
        padding-left: rem($grid-gutter);
        padding-right: rem($grid-gutter);
    }

    &__action {
        margin-top: rem($grid-gutter * 2.6);
    }

    &__button {
        width: 100%;
    }

    &--lg {
        padding-top: rem($grid-gutter * 6.5);
    }

    &--lg & {
        &__content {
            max-width: rem(635px);
        }
    }

    @include media-breakpoint-up(md) {
        &__button {
            width: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem($grid-gutter * 5.95);
        padding-bottom: rem($grid-gutter * 7.5);

        &__img {
            margin-bottom: rem($grid-gutter * 3.6);
        }

        &__title {
            margin-bottom: rem($grid-gutter * 1.4);
        }

        &--lg {
            padding-top: rem($grid-gutter * 7.65);
            padding-bottom: rem($grid-gutter * 9);
        }
    }

    @include media-breakpoint-up(2xl) {
    }
}