// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $background-hover, $color-hover: null) {
    $active-background: $background;

    color: $color;
    background-color: $background;
    border-color: $background;

    @if ($background-hover) {
        $active-background: $background-hover;
    }

    &:hover,
    &:focus,
    &:active,
    &.is-active {
        background-color: $active-background;
        border-color: $active-background;
        @if ($color-hover) {
            color: $color-hover;
        } @else {
            color: $color;
        }
    }
}

@mixin button-outline-variant($font-color, $bg-color, $bg-color-hover: null, $font-color-hover: null) {
    color: $font-color;
    border-color: $bg-color;

    @if ($bg-color-hover) {
        &:hover,
        &:focus,
        &:active,
        &.is-active {
            background-color: $bg-color-hover;
            border-color: $bg-color-hover;

            @if ($font-color-hover) {
                color: $font-color-hover;
            } @else {
                color: $font-color;
            }
        }
    }
}

@mixin button-grd-variant($color, $background-light, $background, $background-hover) {
    color: $color;
    background-color: $background;
    background-image:    -moz-linear-gradient(top, $background-light, $background); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, $background-light, $background); /* Chrome10-25,Safari5.1-6 */
    background-image:         linear-gradient(to bottom, $background-light, $background); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-light', endColorstr='$background',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @include hover-focus-active {
        background: $background;
    }
}

// Button sizes
@mixin button-size($font-size, $line-height, $padding-x, $padding-y) {
    padding: rem($padding-y $padding-x);
    @include font($font-size, $line-height);
}

@mixin button-responsive($br-map, $br-breakpoints: $grid-breakpoints) {
  @each $br-breakpoint, $br-data in $br-map {
    @if $br-breakpoint == null {
      @include make-responsive-button($br-data);
    }
    @else {
      // If $br-data is a key that exists in
      // $br-breakpoints, use the value
      @if map-has-key($br-breakpoints, $br-breakpoint) {
        $br-breakpoint: map-get($br-breakpoints, $br-breakpoint);
      }
      @media screen and (min-width: $br-breakpoint) {
        @include make-responsive-button($br-data);
      }
    }
  }
}

// Utility function for mixin font-size
@mixin make-responsive-button($br-data) {
  // If $br-data is a list, include
  // both font-size and line-height
  @if type-of($br-data) == "list" {
      $font-size: nth($br-data, 1);
      $line-height: nth($br-data, 2);
      @if ( nth($br-data, 1) != '') {
          font-size: rem($font-size);
      }
    @if (length($br-data) > 1) {
        @if ( nth($br-data, 2) != '') {
            @include em-line-height($font-size, $line-height);
        }
    }
    @if (length($br-data) > 2) {
        @if ( nth($br-data, 3) != '') {
            padding-left: rem(nth($br-data, 3));
            padding-right: rem(nth($br-data, 3));
        }
    }
    @if (length($br-data) > 3) {
        padding-top: rem(nth($br-data, 4));
        padding-bottom: rem(nth($br-data, 4));
    }
  }
  @else {
      @if ( $br-data != '') {
          font-size: rem($br-data);
      }
  }
}