$content-item-max-width-ie11: 130%;

%cover-image {
    position: absolute;
    min-width: 100%;
    max-width: $content-item-max-width-ie11;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @supports (object-fit: cover) {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-width: 0;
        max-width: none;
        min-height: 0;
        transform: none;
    }
}
