@mixin margin-bottom($margin, $last-margin: null) {
  margin-bottom: ($margin);

  @if $last-margin {
    &:last-of-type {
      margin-bottom: $last-margin;
    }
  } @else {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
