<div class="menu menu--aside">
  <ul class="menu-l2">
    {% for item in menu %}
      <li class="menu-l2__item">
        <a href="{{ item.link }}" class="menu-l2__link {% if item.name == asideMenuActive and not asideSubMenuActive %} is-selected {% endif %}" {% if item.smoothScroll %} data-scroll {% endif %}>
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>