<div class="menu menu--aside" data-component="menu" data-hover="true">
  <ul class="menu-l2">
    {% for section in nav|slice(0, 1) %}
      {% for item in section.list %}
        <li class="menu-l2__item {% if item.divided %}menu-l2__item--divided{% endif %} {% if item.name != asideMenuActive %}is-collapsed{% endif %}" {% if item.list %}data-element="menu-item"{% endif %}>
          <a href="{{ item.link }}" class="menu-l2__link {% if item.name == asideMenuActive and not asideSubMenuActive %} is-selected {% endif %}">
            {% if item.mainIcon %}
              <i class="menu-l2__icon icon-{{ item.mainIcon }}"></i>
            {% endif %}
            {{ item.name }}
            {% if item.list %}
              <i class="menu-l2__toggle icon-chevron-right" data-element="menu-item-toggle"></i>
            {% endif %}
          </a>

          {% if item.list %}
            <ul class="menu__l3 menu-l3">
              {% for link in item.list %}
                <li class="menu-l3__item ">
                  <a href="{{ link.link }}" class="menu-l3__link {% if link.name == asideSubMenuActive %}is-selected{% endif %}">{{ link.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>