<a href="http://www.reatorg.ru" class="banner {{ bannerClass }}">
  <div class="banner__picture">
    <img src="/assets/img/{{ bannerLogo }}" alt="" class="banner__img">
  </div>
  <div class="banner__content">
    <h6 class="banner__title">Магазин лабораторного оборудования</h6>
    <p class="banner__description">Всё для химических и&nbsp;фармацевтических производств и&nbsp;лабораторий: проектирование, оснащение, сырьё</p>
    <p class="banner__link">www.reatorg.ru</p>
  </div>
</a>
