<div class="catalog__slider swiper swiper--default row">
  <div class="swiper-container" data-slider="catalog">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      {% for item in list %}
        <div class="catalog__item swiper-slide col">
          <a href="{{ item.link }}" class="catalog-card">
            {% if item.specialOffer %}
              <div class="catalog-card__stickers">
                <span class="catalog-card__sticker sticker sticker--primary">Специальное предложение</span>
              </div>
            {% endif %}
            <div class="catalog-card__picture">
              {% if item.image %}
                <img src="/assets/img/temp/catalog/items/{{ item.image }}.jpg" alt="" class="catalog-card__img">
              {% endif %}
            </div>
            <h3 class="catalog-card__title">{{ item.name }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev catalog-slider-prev"></div>
  <div class="swiper-button-next catalog-slider-next"></div>
</div>
