<div class="catalog__list row">
  {% for item in list %}
    <div class="catalog__item col-xs-6 col-sm-4">
      <a href="{{ item.link }}" class="catalog-card">
        {% if item.specialOffer %}
          <div class="catalog-card__stickers">
            <span class="catalog-card__sticker sticker sticker--primary">Специальное предложение</span>
          </div>
        {% endif %}
        <div class="catalog-card__picture">
          {% if item.image %}
            <img src="/assets/img/temp/catalog/items/{{ item.image }}.jpg" alt="" class="catalog-card__img">
          {% endif %}
        </div>
        <h3 class="catalog-card__title">{{ item.name }}</h3>
      </a>
    </div>
  {% endfor %}

  {% if more %}
    <div class="catalog__item col-xs-6 col-sm-4">
      <a href="#" class="card-placeholder">Показать еще</a>
    </div>
  {% endif %}
</div>
