<div class="certificates__list row">
  {% for item in certificates %}
    <div class="certificates__item col-xs-12 col-sm-6 col-md-4">
      <a href="/assets/img/temp/certificates/lg.png" class="certificate" data-element="image-modal-trigger" data-title="Посмотреть&#xa;сертификат">
        <div class="certificate__picture">
          <img src="/assets/img/temp/certificates/{{ item.image }}.png" alt="" class="certificate__img">
        </div>
        <div class="certificate__content">
          <h3 class="certificate__name">
            {{ item.name }}
             <span class="certificate__info">{{ item.info }}</span>
          </h3>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
