<section class="section section--preview clients">
  <div class="container">
    <h2 class="clients__title h1">Клиенты</h2>
    <div class="clients__slider swiper row">
      <div class="swiper-container" data-slider="clients">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for i in 1..6 %}
            <div class="clients__slide swiper-slide col">
              <a href="#" class="client-slide">
                <img src="/assets/img/temp/clients/{{ i }}.png" alt="" class="client-slide__img">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev clients-slider-prev"></div>
      <div class="swiper-button-next clients-slider-next"></div>
    </div>
  </div>
</section>
