<div class="clients__list row">
  {% for item in list %}
    <div class="clients__item col-xs-6 col-sm-4 col-md-3">
      <a href="/assets/img/temp/clients/lg.jpg" class="client-card" data-element="image-modal-trigger">
        <div class="client-card__picture" data-title="Посмотреть отзыв&#xa;клиента" data-title-mobile="смотреть отзыв">
          <img src="/assets/img/temp/clients/{{ item }}.png" alt="" class="client-card__img">
        </div>
      </a>
    </div>
  {% endfor %}
</div>
