<div class="cover">
  <div class="cover__slider swiper">
    <div class="swiper-container" data-slider="cover">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        {% for i in 1..3 %}
          <div class="cover__slider-item swiper-slide">
            <div class="cover-slide">
              <div class="container">
                <div class="cover-slide__content">
                  <h2 class="cover-slide__title">Оборудование для&nbsp;малотоннажной химии</h2>
                  <div class="cover-slide__action">
                    <a href="catalog.html" class="cover-slide__button button button--primary">Перейти в каталог</a>
                  </div>
                </div>
              </div>
              <div class="cover-slide__picture">
                <img src="/assets/img/temp/cover.jpg" alt="" class="cover-slide__img">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="cover__container container">
    <ul class="cover__menu quick-menu row justify-xs-between justify-md-start">
      {% for item in quickMenu %}
        <li class="quick-menu__item col">
          <a href="#" class="quick-menu__link">
            {{ svg.icon(item.image, 'quick-menu__img') }}
            <span class="quick-menu__name">{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="cover__events events swiper">
    <div class="cover__container container">
      <div class="events__slider">
        <div class="swiper-container" data-slider="events">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            {% for i in 1..3 %}
              <div class="events__slider-item swiper-slide">
                <div class="event-slide">
                  <div class="event-slide__section">
                    <span class="event-slide__text event-slide__label">Выставка</span>
                    <span class="event-slide__text"><img src="/assets/img/temp/event-logo.png" alt="" class="event-slide__img"></span>
                  </div>
                  <div class="event-slide__section">
                    <span class="event-slide__text event-slide__date">22-24 июня 2020</span>
                    <span class="event-slide__text">SNIEC, Шанхай, Китай</span>
                  </div>
                  <div class="event-slide__section">
                    <span class="event-slide__text">наш стенд <b class="text-primary">№ N1B16</b></span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev events-slider-prev"></div>
        <div class="swiper-button-next events-slider-next"></div>
      </div>
    </div>
  </div>
</div>
