<div class="menu menu--aside">
  <ul class="menu-l2">
    {% for item in list %}
      <li class="menu-l2__item {% if item.divided %}menu-l2__item--divided{% endif %}">
        <a href="{{ item.link }}" class="menu-l2__link {% if item.name == asideMenuActive %} is-selected {% endif %}">
          {% if item.mainIcon %}
            <i class="menu-l2__icon icon-{{ item.mainIcon }}"></i>
          {% endif %}
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>