<div class="menu menu--aside">
  <ul class="menu-l2">
    {% for section in nav|slice(0, 1) %}
      {% for item in section.list|slice(sectionId, 1) %}
        {% for link in item.list %}
          <li class="menu-l2__item">
            <a href="{{ link.link }}" class="menu-l2__link {% if link.name == asideSubMenuActive %} is-selected {% endif %}">
              {{ link.name }}
            </a>
          </li>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>