<div class="faq__list">
  {% for item in list %}
    <div class="faq__item is-collapsed" data-component="panel">
      <h3 class="faq__question" data-element="panel-toggle">{{ item.question }}</h3>
      <div class="faq__answer">
        <div class="faq__answer-content">
          {{ item.answer }}
          {% if item.screen %}
            <div class="faq__screen screen">
              <img src="/assets/img/temp/faq-screen.png" alt="" class="screen__img">
            </div>
          {% endif %}
        </div>
        <a href="#" class="faq__trigger link-inherit link-pseudo" data-element="panel-trigger">Читать дальше</a>
      </div>
    </div>
  {% endfor %}
</div>