<section class="footer__features features">
  <div class="container">
    <h2 class="features__title h1">Почему выбирают нас</h2>
    <div class="features__slider swiper row">
      <div class="swiper-container" data-slider="features">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for item in features %}
            <div class="features__item swiper-slide col">
              <div class="feature">
                <div class="feature__picture">
                  {{ svg.icon(item.icon, 'feature__icon') }}
                </div>
                <h6 class="feature__title text-md">{{ item.title }}</h6>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev features-slider-prev"></div>
      <div class="swiper-button-next features-slider-next"></div>
    </div>
  </div>
</section>