<ul class="files__list">
  {% for item in files %}
    <li class="files__item">
      <a href="#" class="file">
        <div class="file__picture">
          {{ svg.icon('document', 'file__icon') }}
        </div>
        <div class="file__content">
          <div class="file__name">{{ item.name }}</div>
          <div class="file__info">{{ item.info }}</div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
