<div class="img-banner {{ bannerClass }}">
  <div class="img-banner__picture">
    <img src="/assets/img/temp/brand-img.jpg" alt="" class="img-banner__img">
  </div>
  <div class="img-banner__content">
    <p class="img-banner__description">Оборудование выпускается в&nbsp;стандартном и&nbsp;в&nbsp; специальном исполнении в соответствии с&nbsp;техническим заданием Заказчика, включая взрывозащищенное исполнение.</p>
    <img src="/assets/img/logo-reatorg.svg" alt="{{ company.name }} logo" class="img-banner__logo">
  </div>
</div>
