<div class="lang-switch {{ langSwitchClass }}" data-component="lang-switch">
  {% for item in langs if item.selected %}
    <button class="lang-switch__toggle" data-element="lang-switch-toggle">
      <span class="lang is-active">
        <img src="/assets/img/flags/{{ item.code }}.svg" alt="{{ item.name }}" class="lang__flag">
        <span class="lang__name">{{ item.name }}</span>
      </span>
    </button>
  {% endfor %}
  <ul class="lang-switch__list">
    {% for item in langs %}
      <li class="lang-switch__item {% if item.selected %} is-active {% endif %}">
        <a href="/" class="lang {% if item.selected %} is-active {% endif %}">
          <img src="/assets/img/flags/{{ item.code }}.svg" alt="{{ item.name }}" class="lang__flag">
          <span class="lang__name">{{ item.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>