<ul class="mobile-menu__menu menu menu--mobile" data-component="menu">
  {% for item in nav if item.hiddenOnMobile != true %}
    <li class="menu__item is-collapsed" {% if item.list %}data-element="menu-item"{% endif %}>
      <a href="{{ item.link }}" class="menu__link {% if item.name == menuActive %} is-selected {% endif %}">
        {{ item.name }}
        {% if item.list %}
          <i class="menu__toggle icon-chevron-right" data-element="menu-item-toggle"></i>
        {% endif %}
      </a>

      {% if item.list %}
        <div class="menu__l2">
          <a href="#" class="menu__l2-header menu__link" data-element="menu-item-toggle">
            <i class="menu__l2-icon icon-chevron-left"></i>
            {{ item.name }}
          </a>
          <ul class="menu__l2-list menu-l2">
            {% for link in item.list %}
              <li class="menu-l2__item {% if link.divided %}menu-l2__item--divided{% endif %}"><a class="menu-l2__link" href="{{ link.link }}">{% if link.mainIcon %}<i class="menu-l2__icon icon-{{ link.mainIcon }}"></i>{% endif %}{{ link.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>