<div class="mobile-menu hidden-xl-up" data-component="mobile-menu">
  <div class="mobile-menu__container container">
    <div class="mobile-menu__header row align-items-xs-center justify-xs-between">
      <div class="col">
        <a href="/" class="mobile-menu__logo"><img src="/assets/img/logo-reatorg-white.svg" alt="{{ company.name }} logo" class="mobile-menu__logo-img"></a>
      </div>
      <div class="col">
        <button class="navbar__toggle hamburger hamburger--spin" type="button" data-element="mobile-menu-toggle">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>

    <form class="mobile-menu__search form search-form search-form--mobile-menu" data-component="mobile-menu-search">
      <div class="search-form__group">
        <input type="text" maxlength="150" placeholder="Поиск" required="required" class="search-form__control form__control">
        <button class="search-form__submit icon icon-search" type="submit"></button>
      </div>
    </form>

    <div class="mobile-menu__body">
      <div class="mobile-menu__section">
        {% include '_mobile-menu-list.twig' %}
      </div>

      <div class="mobile-menu__section">
        {% include '_quick-links-list.twig' with { quickLinksClass: 'mobile-menu__quick-links quick-links--vertical'} %}
      </div>

      <div class="mobile-menu__section">
        <div class="mobile-menu__phones">
          {% for phone in company.phones %}
            <a href="{{ phone.link }}" class="mobile-menu__phone link-hidden">{{ phone.number }}</a>
          {% endfor %}
        </div>
      </div>

      <div class="mobile-menu__section">
        {% include '_lang-switch.twig' with { langSwitchClass: 'lang-switch--mobile', type: 'mobile' } %}
      </div>
    </div>

    <div class="mobile-menu__footer">
      <a href="#request-popup" class="mobile-menu__button button button--primary button--block" data-element="request-popup-trigger">Отправить запрос</a>
    </div>
  </div>
</div>