<ul class="mobile-nav row align-items-xs-center justify-xs-between">
  {% for item in mobileNav %}
    <li class="mobile-nav__item col">
      <a href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}" class="mobile-nav__link {% if item.hidden %}is-hidden{% endif %} icon-{{ item.icon }}" {% if item.element %}data-element="{{ item.element }}"{% endif %}></a>
    </li>
  {% endfor %}
    <li class="mobile-nav__item">
      <button class="hamburger hamburger--spin" type="button" data-element="mobile-menu-toggle">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </li>
</ul>