<div id="modal-lang" class="modal modal--lang mfp-hide">
  <div class="modal__content">
    <div class="lang-switch lang-switch--modal">
      <h5 class="lang-switch__title">Ваш язык русский?</h5>
      {% for item in langs if item.selected %}
        <button class="lang-switch__toggle">
          <span class="lang is-active">
            <img src="/assets/img/flags/{{ item.code }}.svg" alt="{{ item.name }}" class="lang__flag">
            <span class="lang__name">{{ item.name }}</span>
          </span>
        </button>
      {% endfor %}
      <button class="lang-switch__button button button--primary button--block" data-element="modal-close">ОК</button>
      <h6 class="lang-switch__label">Сhange the language</h6>
      <ul class="lang-switch__list">
        {% for item in langs if not item.selected %}
          <li class="lang-switch__item {% if item.selected %} is-active {% endif %}">
            <a href="/" class="lang {% if item.selected %} is-active {% endif %}">
              <img src="/assets/img/flags/{{ item.code }}.svg" alt="{{ item.name }}" class="lang__flag">
              <span class="lang__name">{{ item.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>