<div class="header__navbar navbar hidden-xl-up">
  <div class="container">
    <a href="index.html" class="navbar__back button button--default-outline button--sm">
      <i class="button__icon button__icon--first icon-arrow-sm"></i>
      <span>На главную</span>
    </a>

    <div class="navbar__dropdown dropdown-menu" data-component="dropdown-menu">
      <a href="catalog.html" class="dropdown-menu__toggle button button--default-outline button--sm" data-element="dropdown-menu-toggle">
        <span class="dropdown-menu__toggle-text">Каталог</span>
        <i class="dropdown-menu__toggle-icon button__icon icon-chevron-down-2"></i>
      </a>
      <div class="dropdown-menu__content">
        {% include '_dropdown-menu.twig' %}
      </div>
    </div>
  </div>
</div>