<div class="header__navbar navbar hidden-xl-up">
  <div class="container">
    <a href="catalog-special-offers.html" class="navbar__back button button--default-outline button--sm">
      <i class="button__icon button__icon--first icon-arrow-sm"></i>
      <span>Акции</span>
    </a>
  </div>
</div>