<div class="header__navbar navbar hidden-xl-up">
  <div class="container">
    <a href="catalog.html" class="navbar__back button button--default-outline button--sm">
      <i class="button__icon button__icon--first icon-arrow-sm"></i>
      <span>Каталог</span>
    </a>

    <div class="navbar__dropdown dropdown-menu" data-component="dropdown-menu">
      <a href="catalog.html" class="dropdown-menu__toggle button button--default-outline button--sm" data-element="dropdown-menu-toggle">
        {% for section in nav|slice(0, 1) %}
          {% for item in section.list|slice(id, 1) %}
            <span class="dropdown-menu__toggle-text">{{ item.name }}</span>
          {% endfor %}
        {% endfor %}
        <i class="dropdown-menu__toggle-icon button__icon icon-chevron-down-2"></i>
      </a>
      <div class="dropdown-menu__content">
        {% include '_dropdown-menu-section.twig' with { sectionId : id } %}
      </div>
    </div>
  </div>
</div>