<div class="news__list row">
  {% for item in news %}
    <div class="news__item col-xs-12 col-sm-6 col-lg-4">
      <a href="news-article.html" class="news-card">
        <div class="news-card__picture">
          <img src="/assets/img/temp/news/{{ item.image }}.jpg" alt="" class="news-card__img">
        </div>
        <div class="news-card__content">
          <p class="news-card__date text-md">{{ item.date }}</p>
          <p class="news-card__title">{{ item.title }}</p>
          <p class="news-card__more more">Читать<i class="more__icon icon-arrow"></i></p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>