<section class="section section--preview news">
  <div class="container">
    <h2 class="news__title h1">Новости</h2>
    {% include '_news-list.twig' with { news: news|slice(0,3) } %}
    <div class="section__action">
      <a href="news.html" class="section__action-button button button--primary">Все новости</a>
    </div>
  </div>
</section>