<div class="pagination {{ class }}">
  <ul class="pagination__list">
    {% if not short %}
      <li class="pagination__item"><a href="#" class="pagination__link is-disabled"><i class="pagination__icon icon-chevron-left"></i></a></li>
    {% endif %}
    {% for i in 1..3 %}
      <li class="pagination__item"><a href="#" class="pagination__link {% if loop.first %} is-selected {% endif %}">{{ i }}</a></li>
    {% endfor %}
    {% if not short %}
      <li class="pagination__item"><a href="#" class="pagination__link">&hellip;</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link">8</a></li>
      <li class="pagination__item"><a href="#" class="pagination__link"><i class="pagination__icon icon-chevron-right"></i></a></li>
    {% endif %}
  </ul>
</div>
