<div class="projects__list">
  {% for item in projects %}
    <div class="projects__item">
      <a href="project-article.html" class="project-card">
        <div class="project-card__picture">
          <img src="/assets/img/temp/projects/list/{{ item.image }}.jpg" alt="" class="project-card__img">
        </div>
        <div class="project-card__content">
          <p class="project-card__title">{{ item.title }}</p>
          <p class="project-card__more more">Читать<i class="more__icon icon-arrow"></i></p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>