<section class="section section--preview projects">
  <div class="container">
    <h2 class="projects__title h1">Реализованные проекты</h2>
    <div class="projects__slider swiper">
      <div class="swiper-container" data-slider="projects">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          {% for item in projects.slider %}
            <div class="projects__item swiper-slide">
              <a href="project-article.html" class="project-slide">
                <div class="project-slide__content" data-perfect-scrollbar>
                  <h3 class="project-slide__title h2">{{ item.title }}</h3>
                  <p class="project-slide__description">{{ item.description }}</p>
                  <p class="project-slide__more more">Читать<i class="more__icon icon-arrow"></i></p>
                </div>
                <div class="project-slide__picture">
                  <img src="/assets/img/temp/projects/slider/1.jpg" alt="" class="project-slide__img">
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev projects-slider-prev"></div>
      <div class="swiper-button-next projects-slider-next"></div>
    </div>
    <div class="section__action">
      <a href="projects.html" class="section__action-button button button--primary">Все проекты</a>
    </div>
  </div>
</section>