<div class="text-block text-block--columns">
  <section>
    <h5>HUBER MINICHILLER 280</h5>
    <dl>
      <dt>Блок управления:</dt>
      <dd>Диапазон температур: -5...40 °C</dd>
      <dd>Постоянство температуры: ±1 °C</dd>
      <dd>Температурный дисплей: LED Display</dd>
      <dd>Разрешение дисплея: 0,1 °C</dd>
      <dd>Сигнал тревоги: optical, acoustical</dd>
      <dd>Блок управления: MPC</dd>
      <dd>Класс безопасности : I / NFL</dd>
      <dd>Тип защиты: IP20</dd>
      <dd>Габариты (Ш х Г х В): 225 x 360 x 380 мм</dd>
      <dd>Вес: 23 кг</dd>
    </dl>

    <dl>
      <dd>Мощность охлаждения: 15-0 °C, 0,28-0,2 кВт</dd>
      <dd>Система рефрижерации: air-cooled</dd>
      <dd>Хладагент R290 (0,04 kg)</dd>
    </dl>

    <dl>
      <dt>Циркуляционный насос</dt>
      <dd>Нагнетание макс. 14 л/мин; 0,25 бар</dd>
      <dd>Всасывание макс. 10,5 л/мин; 0,17 бар</dd>
      <dd>Соединение насоса M16x1 AG male</dd>
    </dl>

    <dl>
      <dt>Эксплуатационные параметры</dt>
      <dd>Температура окр. среды 5 ...40 °C</dd>
      <dd>Уровень шума 49 дБ(A)</dd>
      <dd>Объем заполнения мин. 2 л</dd>
      <dd>Объем заполнения расширительного сосуда 2 л</dd>
      <dd>Электропитание 230V 1~ 50/60Hz</dd>
      <dd>Потребление тока макс. 2,5 A</dd>
    </dl>
  </section>

  <section>
    <dl>
      <dt>РОТАЦИОННЫЙ ИСПАРИТЕЛЬ REATORG TECHNOLOGIES R206B</dt>
      <dd>Испарительная колба 1л/F29 или 2л/F29</dd>
      <dd>Приемная колба 1л/S35</dd>
      <dd>Площадь конденсирования 0.15м²</dd>
      <dd>Холодильник: Вертикальный</dd>
      <dd>Скорость вращения: 4-200 об/мин</dd>
      <dd>Скорость выпаривания (Н₂О) 1.2 л/ч</dd>
      <dd>Максимальный вакуум <133 Pa (1.33 mbar, 1 Torr)</dd>
      <dd>Мощность бани 1.5кВт</dd>
      <dd>Регулируемый диапазон температур 0°С~99 (180) °С ±0.2°С</dd>
      <dd>Диаметр бани 24см</dd>
      <dd>Материал бани: нержавеющая сталь SUS304</dd>
      <dd>Напряжение: 220В 50/60Гц</dd>
      <dd>Размеры (ШхГхВ) 62х33х82см</dd>
      <dd>Высота бани: 15см</dd>
      <dd>Объем бани: 6л</dd>
    </dl>
  </section>
</div>