<ul class="{{ quickLinksClass }} quick-links">
  {% for item in quickLinks %}
    <li class="quick-links__item">
      <a href="{{ item.link }}" class="quick-links__link">{{ item.name }}</a>
    </li>
  {% endfor %}
</ul>
