<form action="#" method="POST" novalidate="novalidate" class="service__form form form--primary request-form request-form--inline" data-parsley-validate="true" data-parsley-trigger="input" data-form="request-form">
  <p class="request-form__description">Текст к заказу услуг и сервисов. Оставьте заявку и мы перезвоним вам в течение часа.</p>

  <div class="request-form__main row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="form__group is-required">
        <label for="service-name" class="form__label">Ваше имя</label>
        <div class="form__input">
          <input id="service-name" name="service-name" type="text" class="form__control" required>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="form__group is-required">
        <label for="service-phone" class="form__label">Номер телефона</label>
        <div class="form__input">
          <input id="service-phone" name="service-phone" type="tel" class="form__control" required data-inputmask="'mask': '+7 999 999-9999'">
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="form__group is-required">
        <label for="service-email" class="form__label">E-mail</label>
        <div class="form__input">
          <input id="service-email" name="service-email" type="email" class="form__control" required>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form__group">
        <div class="dropzone dropzone-multiple" data-dropzone-block data-dropzone-multiple>
          <div class="fallback">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="dropzoneMultipleUpload" multiple>
              <label class="custom-file__label" for="dropzoneMultipleUpload">
                <i class="custom-file__icon icon-attachment"></i><span class="custom-file__text">Прикрепить заявку, эскиз или ТЗ (до 10 Мб)</span>
              </label>
            </div>
          </div>
          <div class="dz-message custom-file">
            <div class="custom-file__label" data-element="dropzone-trigger">
              <i class="custom-file__icon icon-attachment"></i><span class="custom-file__text">Прикрепить заявку, эскиз или ТЗ (до 10 Мб)</span>
            </div>
          </div>
          <div class="dz-preview dz-preview-multiple" data-element="dropzone-previews">
            <div data-element="dropzone-template">
              <div class="dz-item">
                <div class="dz-item__col dz-item__col--icon">
                  <i class="dz-item__icon icon-attachment"></i>
                </div>
                <div class="dz-item__col dz-item__col--content">
                  <div class="dz-item__name" data-dz-name></div>
                  <div class="dz-item__error error text-error" data-dz-errormessage></div>
                </div>
                <div class="dz-item__col dz-item__col--progress">
                  <div class="progress active" role="progressbar">
                    <div class="progress__bar" style="width:50%;" data-dz-uploadprogress></div>
                  </div>
                </div>
                <div class="dz-item__col dz-item__col--delete">
                  <button class="dz-item__icon icon-trash" data-dz-remove title="Удалить"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="form__submit">
        <input type="submit" class="button button--primary-light button--block" disabled value="Отправить">
        <p class="form__note">Заполняя данную форму, Вы соглашаетесь с <a href="#" class="link-hidden">Правилами обработки и использования персональных данных</a></p>
      </div>
    </div>
  </div>

  <p class="request-form__footnote"><span class="text-error">*</span> Поля, обязательные для заполнения</p>
</form>