<div id="request-popup" class="request-popup" data-component="request-popup" data-perfect-scrollbar>
  <div class="request-popup__header">
    <h3 class="request-popup__title">Отправить запрос</h3>
    <button class="request-popup__close icon-close-thin" title="Закрыть" data-element="request-popup-close"></button>
  </div>

  <form action="#" method="POST" novalidate="novalidate" class="form form--primary request-form" data-parsley-validate="true" data-parsley-trigger="input" data-form="request-form">
    <div class="request-form__header">
      <img src="/assets/img/temp/avatar.jpg" alt="" class="request-form__header-img">
      <p class="request-form__header-content">Наши специалисты помогут Вам подобрать оборудование, рассчитать и исполнить услугу или сервис.</p>
    </div>

    <p class="request-form__description">Если у Вас есть вопросы, пожалуйста, оставьте заявку и мы перезвоним вам в течение часа. Мы работаем с 9:00 до 18:00 пн-сб.</p>

    <div class="form__group is-required">
      <label for="name" class="form__label">Ваше имя</label>
      <div class="form__input">
        <input id="name" name="name" type="text" class="form__control" required>
      </div>
    </div>

    <div class="form__group is-required">
      <label for="phone" class="form__label">Номер телефона</label>
      <div class="form__input">
        <input id="phone" name="phone" type="tel" class="form__control" required data-inputmask="'mask': '+7 999 999-9999'">
      </div>
    </div>

    <div class="form__group is-required">
      <label for="email" class="form__label">E-mail</label>
      <div class="form__input">
        <input id="email" name="email" type="email" class="form__control" required>
      </div>
    </div>

    <div class="form__group">
      <label for="message" class="form__label">Ваш вопрос</label>
      <div class="form__input">
        <textarea id="message" name="message" rows="6" class="form__control">Добрый день! Меня зовут Иван Иванов, я представитель компании Ромашка, нас интерисует сотрудничество с Вами. Свяжитесь, пожалуйста.</textarea>
      </div>
    </div>

    <div class="form__group">
      <div class="dropzone dropzone-multiple" data-dropzone-block data-dropzone-multiple>
        <div class="fallback">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="dropzoneMultipleUpload" multiple>
            <label class="custom-file__label" for="dropzoneMultipleUpload">
              <i class="custom-file__icon icon-attachment"></i><span class="custom-file__text">Прикрепить заявку, эскиз или ТЗ (до 10 Мб)</span>
            </label>
          </div>
        </div>
        <div class="dz-message custom-file">
          <div class="custom-file__label" data-element="dropzone-trigger">
            <i class="custom-file__icon icon-attachment"></i><span class="custom-file__text">Прикрепить заявку, эскиз или ТЗ (до 10 Мб)</span>
          </div>
        </div>
        <div class="dz-preview dz-preview-multiple" data-element="dropzone-previews">
          <div data-element="dropzone-template">
            <div class="dz-item">
              <div class="dz-item__col dz-item__col--icon">
                <i class="dz-item__icon icon-attachment"></i>
              </div>
              <div class="dz-item__col dz-item__col--content">
                <div class="dz-item__name" data-dz-name></div>
                <div class="dz-item__error error text-error" data-dz-errormessage></div>
              </div>
              <div class="dz-item__col dz-item__col--progress">
                <div class="progress active" role="progressbar">
                  <div class="progress__bar" style="width:50%;" data-dz-uploadprogress></div>
                </div>
              </div>
              <div class="dz-item__col dz-item__col--delete">
                <button class="dz-item__icon icon-trash" data-dz-remove title="Удалить"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form__submit">
      <input type="submit" class="button button--primary-light button--block" disabled value="Отправить">
      <p class="form__note">Заполняя данную форму, Вы соглашаетесь с <a href="#" class="link-hidden">Правилами обработки и использования персональных данных</a></p>
    </div>

    <p class="request-form__footnote"><span class="text-error">*</span> Поля, обязательные для заполнения</p>
  </form>

  <div class="success-message success-message--sm" data-component="success-message" hidden>
    <h4 class="success-message__title">Спасибо за&nbsp;Ваше обращение!</h4>
    <p class="success-message__description">В ближайшее время наш специалист свяжется с&nbsp;Вами</p>
    <div class="success-message__action">
      <button class="button button--primary-light button--block" data-element="request-popup-close">Закрыть и продолжить</button>
    </div>
  </div>
</div>