<div class="search-popup" data-component="search-popup" data-perfect-scrollbar>
  <div class="container">
    <div class="search-popup__results search-results">
      <section class="search-results__section">
        <h2 class="search-results__title">Каталог</h2>
        <div class="catalog">
          <ul class="catalog__list catalog__list--sm">
            {% for item in searchResults.catalog|slice(0,3) %}
              <li class="catalog__list-item">
                <a href="catalog-section.html" class="catalog-card-sm">
                  <div class="catalog-card-sm__picture">
                    <img src="/assets/img/temp/catalog/search/{{ item.image }}.jpg" alt="" class="catalog-card-sm__img">
                  </div>
                  <div class="catalog-card-sm__content">
                    <div class="catalog-card-sm__text">{{ item.name }}</div>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section class="search-results__section">
        <h2 class="search-results__title">Центр загрузок</h2>
        <ul class="utility-menu utility-menu--files">
          {% for item in searchResults.files|slice(0,3) %}
            <li class="utility-menu__item">
              <a href="#" class="utility-link">
                <span class="utility-link__icon-box">
                  <i class="utility-link__icon icon-{{ item.icon }}"></i>
                </span>
                <div class="utility-link__content">
                  <span class="utility-link__name">{{ item.text }}</span>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>

      <section class="search-results__section">
        <h2 class="search-results__title">Новости</h2>
        <div class="publications">
          <ul class="publications__list">
            {% for item in searchResults.news %}
              <li class="publications__item">
                <a href="#" class="publication">
                  <h6 class="publication__title">{{ item.title }}</h6>
                  <p class="publication__text">{{ item.text }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <div class="search-results__more">
        <a href="search-results.html" class="more">Посмотреть все результаты<i class="more__icon icon-arrow"></i></a>
      </div>
    </div>
  </div>
</div>