<div class="services__list row">
  {% for item in services if item.inSlider != false %}
    <div class="services__item col-xs-12 col-sm-6 col-lg-4">
      <div class="service-card service-card--full">
        <div class="service-card__picture">
          {{ svg.icon(item.icon, 'service-card__icon') }}
        </div>
        <h2 class="service-card__title">{{ item.name }}</h2>
        <p class="service-card__more more"><a href="service.html">Перейти к услуге<i class="more__icon icon-arrow"></i></a></p>
        <div class="service-card__action">
          <a href="#" class="service-card__button button button--primary">Оставить заявку</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
