<section class="section section--preview services">
  <div class="container">
    {% for section in nav|slice(2, 1) %}
      <h2 class="services__title h1">{{ section.name}}</h2>
      <div class="services__slider swiper row">
        <div class="swiper-container" data-slider="services">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            {% for item in section.list if item.inSlider != false %}
              <div class="services__slide swiper-slide col">
                <a href="service.html" class="service-card">
                  <div class="service-card__picture">
                    {{ svg.icon(item.icon, 'service-card__icon') }}
                  </div>
                  <h3 class="service-card__title h2">{{ item.name }}</h3>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev services-slider-prev"></div>
        <div class="swiper-button-next services-slider-next"></div>
      </div>
      <div class="section__action">
        <a href="services.html" class="section__action-button button button--primary">Все услуги</a>
      </div>
  {% endfor %}
  </div>
</section>