<section class="section section--preview showcase">
  <div class="container">
    <h2 class="showcase__title h1">Продукция Reatorg Technologies</h2>
    <div class="showcase__slider swiper row">
      <div class="swiper-container" data-slider="showcase">
        <!-- Additional required wrapper -->
        {% for section in nav|slice(0, 1) %}
          <div class="swiper-wrapper">
            {% for item in section.list if item.inSlider != false %}
              <div class="showcase__item swiper-slide col">
                <a href="showcase-section.html" class="showcase-card">
                  <div class="showcase-card__content">
                    <h3 class="showcase-card__title h2">{{ item.name }}</h3>
                    <p class="showcase-card__description">{{ item.description }}</p>
                  </div>
                  {% if item.image %}
                    <div class="showcase-card__picture">
                      <img src="/assets/img/temp/catalog/showcase/{{ item.image }}.png" alt="" class="showcase-card__img">
                    </div>
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev showcase-slider-prev"></div>
      <div class="swiper-button-next showcase-slider-next"></div>
    </div>
    <div class="section__action row">
      <div class="col-xs-12 col-lg-4">
        <a href="catalog.html" class="section__action-button button button--primary">Весь каталог</a>
      </div>
      <div class="col-xs-12 col-lg-8">
        {% include '_banner.twig' with { bannerClass: 'section__banner banner--light', bannerLogo: 'logo-reatorg-2.svg' } %}
      </div>
    </div>
  </div>
</section>