.footer {
    border-top: 1px solid $gray-2;
    padding-top: rem(30px);
    padding-bottom: rem(11px);

    &__features {
        padding-bottom: rem(20px);
        overflow: hidden;
    }

    &__main {
        border-top: 1px solid $gray-2;
        padding-top: rem(36px);
    }

    &__bottom {
        margin-top: rem(33px);
    }

    &__address {
        &-info {
            max-width: rem(220px);
            margin-bottom: 0;
        }

        &-title {
            font-weight: $font-weight-bold;
            margin-bottom: rem(6px);
        }

        &-button {
            margin-top: rem(14px);
            width: 100%;
        }
    }

    &__contacts {
        order: -1;

        &-item {
            margin-bottom: rem(30px);
        }
    }

    &__email {
        font-weight: $font-weight-bold;
        text-decoration: none;
        display: inline-block;
    }

    &__phones {
        display: flex;
        flex-direction: row-reverse;

        &-item {
            width: 50%;
            padding-right: rem($gutter);
        }

        &-title {
            font-weight: $font-weight-bold;
            white-space: nowrap;
        }

        &-note {
            color: $gray-6;
        }
    }

    &__copyright {
        color: $gray-6;
        @include font($font-size-md, $line-height-md);
    }

    &__social {
        order: -1;
        margin-bottom: rem(41px);

        &-title {
            margin-bottom: rem(17px);
        }
    }

   @include media-breakpoint-up(md) {
       padding-bottom: rem(32px);

       &__address {
           &-button {
               width: auto;
           }
       }

       &__contacts {
           order: initial;
       }

       &__phones {
           flex-direction: row;
       }

       &__copyright {
           @include font($font-size-base, $line-height-base);
       }

       &__social {
           order: initial;
           margin-bottom: 0;
       }
   }

   @include media-breakpoint-up(lg) {
       &__main {
           padding-top: rem(48px);
       }

       &__bottom {
           margin-top: rem(46px);
       }

       &__menu {
           &-list {
               @include list-unstyled;
               columns: 2;
               column-gap: $grid-gutter;
           }

           &-item {
               margin-bottom: rem(12px);
           }

           &-link {
               color: $base-color;
               text-decoration: none;
               font-weight: $font-weight-bold;

               @include hover-focus {
                   color: $link-hover-color;
               }
           }
       }
       
       &__contacts {
           max-width: rem(184px);
           margin-left: auto;

           &-item {
               margin-bottom: rem(13px);
           }
       }

       &__phones {
           flex-direction: column;

           &-item {
               width: auto;
               margin-bottom: rem(13px);
           }
       }

       &__social {
           display: flex;
           align-items: center;
           justify-content: flex-end;

           &-title {
               margin-right:  rem($grid-gutter);
               margin-bottom: 0;
           }
       }
   }
}