.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    box-shadow: 2px 2px 6px rgba($gray-7, .22);
    z-index: 50;
    display: flex;
    flex-direction: column;

    &__main {
        padding-top: rem($grid-gutter * .7);
        padding-bottom: rem($grid-gutter * .85);
        order: -1;
    }

    &__navbar {
        border-top: 1px solid $gray;
        padding-top: rem(12px);
        padding-bottom: rem(12px);
        box-shadow: 2px 2px 6px rgba($gray-7, .22);
    }

    &__container {
        max-width: calc(1380px + #{$grid-gutter} * 2);
    }

    &__row {
        flex-wrap: nowrap;
        margin-left: rem( - $gutter * 1.5 );
        margin-right: rem( - $gutter * 1.5 );
    }

    &__col {
        padding-left: rem( $gutter * 1.5 );
        padding-right: rem( $gutter * 1.5 );

        &--search {
            flex: 1;
        }
    }

    &__logo {
        transition: all .25s ease-in-out;

        &-img {
            height: rem(30px);
            transition: height .25s ease-in-out;

            &--default {
                .header--transparent & {
                    display: none;
                }
            }

            &--white {
                display: none;

                .header--transparent & {
                    display: block;
                }
            }
        }
    }

    &__phones {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__search {
        padding-bottom: rem($grid-gutter);
    }

    &__request-button {
        min-width: 0;
    }

    &.is-scrolled & {
        &__search {
            display: none;
        }
    }

    .search-is-visible &.is-scrolled & {
        &__search {
            display: block;
        }
    }

    .search-is-visible & {
        box-shadow: none;

        &__col {
            &:not(.header__col--search):not(.header__col--logo) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    .dropdown-menu-is-visible & {
        &__top,
        &__main {
            display: none;
        }
    }

    &--transparent {
        background-color: rgba($white, 0);
        box-shadow: none;
        color: $white;
    }

    @media(min-width: 375px) {
        &__logo {
            &-img {
                height: rem(35px);
            }
        }
    }

    @include media-breakpoint-down(sm) {
        &__col {
            &--request {
                padding: 0;
                width: 0;
            }
        }

        &__request-button {
            @include rounded;
            @include size(rem(85px));
            @include font(11px, 15.01px);
            position: fixed;
            left: rem(16px);
            bottom: rem(85px);
            text-transform: uppercase;
        }
    }

    @include media-breakpoint-up(md) {
        .search-is-visible & {
            &__search {
                max-width: rem(640px);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        display: block;

        &__top {
            border-bottom: 1px solid $gray-2;
            min-height: rem(45px);
        }

        &__main {
            padding-top: rem($grid-gutter);
            padding-bottom: rem($grid-gutter);
            order: initial;
        }

        &__col {
            &--search {
                margin-left: auto;
                margin-right: auto;
                flex: initial;
            }

            &--nav {
                margin-left: auto;
                margin-right: auto;
            }

            &--lang {
                align-self: stretch;
            }

            &--cart {
                align-self: stretch;
            }
        }

        &__logo {
            &-img {
                height: rem(44px);
            }
        }

        &__search {
            width: 323px;
            margin-left: rem(-118px);
            margin-bottom: -1px;
            padding-bottom: 0;
        }

        &__lang-switch {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: rem($grid-gutter * .65);
            padding-right: rem($grid-gutter * .65);
        }

        &__cart {
            display: flex;
            align-items: center;
            position: relative;
            height: 100%;
            padding-left: rem($grid-gutter);
            padding-right: rem($grid-gutter);
            color: inherit;
            text-decoration: none;

            &:after {
                border-bottom: 2px solid $primary;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -1px;
                content: '';
            }

            &-icon {
                font-size: rem(24px);
            }

            &-count {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-70%);
                @include size(22px);
                @include rounded();
                background-color: $primary;
                text-align: center;
                color: $base-color;
            }
        }

        &__phone {
            transition: none;
        }

        &.is-scrolled & {
            &__search {
                display: block;
            }
        }

        .search-is-visible & {
            &__top {
                border-bottom-color: rgba($gray-2, 0);
                position: relative;
            }

            &__col {
                &--search {
                    width: 100%;
                }
            }

            &__search {
                width: 100%;
                max-width: rem(672px);
                position: absolute;
                top: rem($grid-gutter * 3.2);
                left: 0;
                right: 0;
                padding-left: rem(16px);
                padding-right: rem(16px);
            }
        }

        &--transparent {
            border-bottom: 1px solid $gray-6;
        }

        &--transparent & {
            &__top {
                border-bottom-color: $gray-6;
            }
        }
    }

    @include media-breakpoint-up(2xl) {
        &__col {
            &--logo {
                margin-right: 9%;
            }
        }
    }
}