.main {
    overflow: hidden;
    padding-top: rem(134px);
    flex: 1;
    background-color: $gray;

    &__aside {
        background-color: $white;
    }

    &__content {
        padding-top: rem(30px);
        padding-bottom: rem(70px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
        padding-top: rem(131px);
        display: flex;
        flex-direction: column;

        &__body {
            display: flex;
            flex: 1;
        }

        &__container {
            display: flex;
            align-items: stretch;
            justify-content: center;
        }

        &__aside {
            max-width: rem(230px);
            flex: 0 0 20%;
            position: relative;
            padding-top: rem(70px);
            padding-right: rem(34px);
            padding-bottom: rem(70px);

            &:before {
                position: absolute;
                right: 100%;
                top: 0;
                bottom: 0;
                content: '';
                background-color: $white;
                width: 50vw;
            }
        }

        &__content {
            max-width: rem(950px);
            flex: 0 0 80%;
            padding-top: rem(70px);
            padding-left: rem(70px);
        }
    }

    @include media-breakpoint-up(2xl) {
        &__container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}