.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: $black;
    color: $white;
    z-index: 99;
    visibility: hidden;
    transition: .4s ease-in-out;
    transform: translateX(100%);

    &.is-visible {
        visibility: visible;
        transform: translateX(0);
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .hamburger {
        z-index: 101;
        margin-right: -$hamburger-padding-x;
    }

    &__header {
        padding-top: rem($grid-gutter);
        padding-bottom: rem($grid-gutter * .9);
    }

    &__logo {
        &-img {
            height: rem(35px);
        }
    }

    &__body,
    &__footer {
        padding-left: rem(17px);
        padding-right: rem(17px);
    }

    &__body {
        padding-top: rem($gutter);
    }

    &__footer {
        margin-top: auto;
        padding-top: rem($grid-gutter * 1.65);
        padding-bottom: rem($grid-gutter * 1.65);
    }

    &__section {
        border-top: 1px solid $black-3;
        padding-top: rem($grid-gutter);
        padding-bottom: rem($grid-gutter * .75);

        &:first-child {
            border-top-width: 0;
        }
    }

    &__quick-links {
        padding-bottom: rem($grid-gutter * 3.1);
    }

    &__phones {
        display: flex;
        flex-direction: column;
        margin-top: rem($grid-gutter * .3);
        margin-bottom: rem($grid-gutter * .45);
    }

    &__phone + &__phone {
        margin-top: rem($gutter * .8);
    }

    @include media-breakpoint-up(md) {
        width: rem(375px);
    }
}