.mobile-nav {
    @include list-unstyled;
    flex-wrap: nowrap;
    margin-left: rem(- $gutter);
    margin-right: rem(- $gutter);

    &__item {
        padding-left: rem($gutter);
        padding-right: rem($gutter);
    }

    &__link {
        font-size: rem(23px);
        text-decoration: none;
        vertical-align: initial;
        color: inherit;
        text-decoration: none;

        &.is-active {
            color: inherit;
            opacity: 0.75;
        }

        &.is-hidden {
            opacity: 0;
            visibility: hidden;

            .header.is-scrolled & {
                opacity: 1;
                visibility: visible;
            }
        }

        &.icon-cart {
            font-size: rem(32px);
        }
    }

    @include media-breakpoint-up(md) {
    }
}