.nav {

    @include media-breakpoint-up(xl) {
        @include list-unstyled;
        @include make-row(rem(36px));
        justify-content: center;

        &__item {
            @include make-col(rem(36px));
        }

        &__link {
            display: block;
            @include font(17px, 20.01px, $font-weight-medium);
            color: inherit;
            text-decoration: none;
            transition: none;

            @include hover-focus {
                color: $link-hover-color;

                .header--transparent & {
                    color: $gray-4;
                }
            }
        }
    }
}