.banner {
    text-decoration: none;
    color: $base-color;
    padding: rem(27px 50px 26px 40px);
    display: block;
    border-left-width: 4px;
    border-left-style: solid;

    &__picture {
        margin-bottom: rem(22px);
    }

    &__img {
        display: block;
    }

    &__title {
        margin-bottom: rem(14px);
    }

    &__description {
        margin-bottom: rem(14px);
    }

    &__link {
        font-weight:  $font-weight-bold;
        color: $link-color;
    }

    &--light {
        background-color: $blue-3;
        border-left-color: $blue-2;

        @include hover-focus {
            color: $base-color;
        }
    }

    &--dark {
        background-color: $blue-4;
        border-left-color: $blue-5;
        color: $white;

        @include hover-focus {
            color: $white;
        }
    }

    &--inline {
        padding: rem(15px 40px 27px 32px);
    }

    &--inline & {
        &__picture {
            margin-bottom: rem(33px);
        }

        &__title {
            @include font($font-size-lg, $line-height-lg);
            margin-bottom: rem(9px);
        }

        &__description {
            margin-bottom: rem(26px);
        }
 
        &__link {
            @include font($font-size-lg, $line-height-lg);
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        padding-top: rem(33px);
        padding-bottom: rem(32px);

        &__picture {
            margin-bottom: 0;
            max-width: 35%;
            flex: 0 0 35%;
        }

        &__img {
            margin-left: auto;
            margin-right: auto;
        }

        &__content {
            padding-left: rem($grid-gutter);
            flex: 1;
            max-width: rem(420px);
        }
    }

    @include media-breakpoint-up(lg) {
        &--inline {
            padding: rem($grid-gutter 30px);
        }

        &--inline & {
            &__picture {
                margin-bottom: 0;
                max-width: none;
                flex: initial;
            }

            &__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 100%;
            }

            &__title {
                @include font($font-size-h2, $line-height-lg);
                text-align: right;
                border-right-width: 4px;
                border-right-style: solid;
                padding-left: rem($grid-gutter);
                padding-right: rem(25px);
                margin-left: auto;
                margin-right: rem(-4px);
                margin-bottom: 0;
                max-width: rem(200px);
            }

            &__description {
                @include font($font-size-md, 15.01px);
                margin-bottom: 0;
                border-left-width: 4px;
                border-left-style: solid;
                padding-left: rem(25px);
                padding-right: rem($gutter);
                max-width: rem(280px);
                margin-right: auto;
            }
        }

        &--light & {
            &__title {
                border-right-color: $blue-2;
            }

            &__description {
                border-left-color: $blue-2;
            }
        }

        &--dark & {
            &__title {
                border-right-color: $blue-5;
            }

            &__description {
                border-left-color: $blue-5;
            }
        }
    }
}