.breadcrumb {
    color: $gray-6;
    @include font($font-size-md, 15.01px);
    margin-bottom: rem(36px);

    &__list {
        @include list-unstyled;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        &:after {
            content: '/';
            display: inline-block;
            margin-left: rem($gutter);
            margin-right: rem($gutter);
        }
    }

    &__link {
        color: inherit;

        @include hover-focus {
            color: $link-color;
        }
    }

    @include media-breakpoint-up(md) {
    }
}