//
// Base styles
//

button,
.button {
    position:relative;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background: none;
    outline: 0;
    border: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;

    @include hover-focus {
        text-decoration: none;
        outline: 0;
    }

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            @include tab-focus();
            outline: 0;
        }
    }
    &.focus {
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
    }

    &.disabled,
    &:disabled {
        cursor: $cursor-disabled;
        pointer-events: none;
    }
}

.button {
    border: $btn-border-width solid;
    font-weight: $btn-font-weight;
    font-family: $btn-font-family;
    @include button-size($btn-font-size, $btn-line-height, $btn-padding-x, $btn-padding-y);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.disabled,
    &:disabled {
        background-color: $btn-disabled-bg;
        border-color: $btn-disabled-bg;
        color: rgba($btn-disabled-color, .3);
    }

    &--md {
        padding-top: rem($btn-padding-y-md);
        padding-bottom: rem($btn-padding-y-md);
    }

    &--sm {
        @include button-size($btn-font-size-sm, $btn-line-height-sm, $btn-padding-x-sm, $btn-padding-y-sm);
    }

    &--primary {
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-bg-hover);
        min-width: rem(220px);
    }

    &--primary-light {
        @include button-variant($btn-primary-color-light, $btn-primary-bg-light, $btn-primary-bg-hover-light);

        &.disabled,
        &:disabled {
            border-color: $yellow-3;
            background-color: $yellow-3;
            color: rgba($btn-primary-color-light, .3);
        }
    }

    &--primary-outline {
        @include button-outline-variant($btn-primary-color, $btn-primary-bg, $btn-primary-bg-hover);
        font-weight: $font-weight-normal;

        .button__icon {
            color: $primary;
            font-size: rem(24px);
            margin-right: rem($gutter);
            transition: color .25s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active,
        &.is-active {
            .button__icon {
                color: inherit;
            }
        }
    }

    &--default-outline {
        border-width: $btn-border-width-sm;
        border-radius: 5px;
        border-color: $btn-default-border;
        background-color: $btn-default-bg;
        color: $btn-default-color;

        .button__icon {
            color: inherit;
            font-size: rem(12px);
            margin-left: rem($gutter);

            &--first {
                margin-left: 0;
                margin-right: rem($gutter);
            }

            &.icon-arrow-sm {
                font-size: rem(25px);
                margin-top: rem(-6px);
                margin-bottom: rem(-5px);
            }
        }
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}

//
// Block button
//

.button--block {
    width: 100%;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        .button--#{$breakpoint}-block { 
            display: block;
            width: 100%;
        }
    }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button_block {
        width: 100%;
    }
}