$cart-item-name: (
    xs: ($font-size-base, $line-height-base, $font-weight-medium),
    md: ($font-size-h2, $line-height-h2),
) !default;

$cart-item-price: (
    xs: (12px, 20.01px, '', rem($gutter * .5)),
    md: ($font-size-md, 20.01px, '', 0),
) !default;

$cart-item-sum: (
    xs: ($font-size-base, 20.01px, $font-weight-medium),
    md: ($font-size-lg, 20.01px),
) !default;

.cart-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    &__picture {
        display: flex;
        align-items: center;
        overflow: hidden;
        @include size(rem(134px));
        flex: 0 0 rem(134px);
        padding: rem(6px);
        background-color: $white;
        margin-right: rem($grid-gutter * 1.7);
        margin-bottom: rem($grid-gutter * .75);
    }

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        width: auto;
    }

    &__content {
        flex: 1;
    }

    &__code {
        color: $gray-6;
        @include font($font-size-md, $line-height-md + 1);
        margin-bottom: rem($gutter);
    }

    &__name {
        @include type-responsive($cart-item-name);

        a {
            color: inherit;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__amount-form {
        margin-right: rem($grid-gutter * 1.7);
    }

    &__total {
        margin-right: auto;
    }

    &__price {
        @include type-responsive($cart-item-price);
        color: $gray-6;
    }

    &__sum {
        @include type-responsive($cart-item-sum);
    }

    &__delete {
        margin-left: rem($grid-gutter);
        color: $gray-9;
        font-size: rem(22px);
    }

    @include media-breakpoint-up(md) {
        display: block;

        &__picture {
            float: left;
            @include size(rem(180px));
            margin-right: 0;
            margin-bottom: 0;
        }

        &__content,
        &__footer {
            margin-left: rem(230px);
        }

        &__footer {
            width: auto;
            margin-top: rem($grid-gutter * 1.5);
        }

        &__amount-form {
            margin-right: rem($grid-gutter * 1.4);
        }

        &__total {
            display: flex;
            align-items: center;
            flex: 1;
        }

        &__price {
            width: rem(106px);
            flex: 0 0 rem(106px);
            padding-left: rem($gutter);
            padding-right: rem($gutter);
            margin-left: auto;
            margin-right: auto;
        }

        &__sum {
            margin-left: auto;
            width: rem(156px);
            flex: 0 0 rem(156px);
        }
    }

    @include media-breakpoint-up(lg) {
    }
}