.card-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px dashed $gray-3;
    color: $gray-3;
    @include font($font-size-md, $line-height-md + 1, $font-weight-medium);
    padding: rem($grid-gutter);
    height: 100%;

    @include hover-focus {
        border-color: $gray-5;
        color: $gray-5;
    }
}