$catalog-card-title: (
    xs: ($font-size-md, $line-height-md + 1, $font-weight-medium),
    lg: ($font-size-base, $line-height-base),
) !default;

.catalog-card {
    display: block;
    background-color: $white;
    color: inherit;
    padding: rem($grid-gutter 12px);
    min-height: rem(298px);
    height: 100%;
    position: relative;

    &__picture {
        margin-bottom: rem(18px);
        @include aspect-ratio-block(230/260);
        background-color: $gray;
    }

    &__img {
        @extend %cover-image;
    }

    &__title {
        margin-bottom: 0;
        @include type-responsive($catalog-card-title);
    }

    &__stickers {
        position: absolute;
        top: rem($gutter);
        left: 0;
        z-index: 1;
    }

    @include hover-focus {
        color: inherit;
    }

    @include media-breakpoint-up(md) {
        padding-left: rem($grid-gutter);
        padding-right: rem($grid-gutter);

        &__stickers {
            top: rem($grid-gutter);
        }
    }

    @include media-breakpoint-up(lg) {
        padding: rem(30px 25px);
        min-height: rem(407px);
    }
}