.catalog-card-sm {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__picture {
        display: flex;
        align-items: center;
        @include size(rem(70px));
        flex: 0 0 rem(70px);
        border: 1px solid $gray-2;
        margin-right: rem($grid-gutter);
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__content {
    }


    @include media-breakpoint-up(lg) {
    }
}