.certificate {
    display: block;
    background-color: $white;
    color: $base-color;
    text-decoration: none;
    position: relative;
    height: 100%;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: attr(data-title);
        background-color: rgba($black, .65);
        color: $white;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem($grid-gutter);
        text-align: center;
        font-weight: $font-weight-medium;
        white-space: pre;
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;
    }

    &__picture {
        @include aspect-ratio-block(280/420);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        padding: rem($gutter $grid-gutter $grid-gutter * .75);
        min-height: rem(140px);
    }

    &__title {
        font-weight: $font-weight-medium;
        margin-bottom: 0;
    }

    &__info {
        color: $gray-6;
    }

    @include hover-focus {
        &:before {
            opacity: 1;
            visibility: visible;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}