.client-card {
    display: block;
    height: 100%;

    &__picture {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: $white;
        padding: rem($gutter);
        height: rem(100px);
        width: 100%;
        position: relative;

        &:after {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            content: attr(data-title-mobile);
            color: $gray-11;
            @include font(11px, 13.01px, $font-weight-medium);
            border-bottom: 1px dashed;
            margin-top: rem(2px);
            text-align: center;
            white-space: nowrap;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }

    &--single {
        display: flex;
        align-items: flex-start;
    }

    &--single & {
        &__picture {
            max-width: rem(205px);
            flex: 0 0 49%;
            margin-right: rem($grid-gutter);

            &:after {
                display: none;
            }
        }

        &__name {
            @include margin-bottom(rem($grid-gutter * .5));
        }
    }

    @include media-breakpoint-up(lg) {
        &__picture {
            padding: rem($grid-gutter);
            height: rem(133px);

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: none;
                content: attr(data-title);
                color: $white;
                background-color: rgba($black, .65);
                @include font($font-size-base, $line-height-base);
                border-bottom-width: 0;
                margin-top: 0;
                white-space: pre;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: rem($grid-gutter);
                text-align: center;
                opacity: 0;
                visibility: hidden;
                transition: .25s ease-in-out;
            }

            @include hover-focus {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &--single & {
            &__picture {
                margin-right: rem($grid-gutter * 1.5);

                &:after {
                    display: flex;
                }
            }

            &__name {
                @include margin-bottom(rem($grid-gutter * .6));
            }
        }
    }
}