$cover-title: (
    xs: (27px, 37.01px, '', rem($grid-gutter)),
    lg: ($font-size-title, $line-height-title, '', rem(28px)),
) !default;

.cover-slide {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    padding-top: rem(76px);
    padding-bottom: rem(100px);

    &:before,
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        height: rem(100px);
        z-index: 1;
    }

    &:before {
        top: 0;
        background: linear-gradient(180deg, $black, rgba($black, 0));
    }

    &:after {
        bottom: 0;
        background: linear-gradient(180deg, rgba($black, 0), $black);
    }

    &__picture {
        &:before,
        &:after {
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
            width: rem(134px);
            z-index: 1;
        }

        &:before {
            left: 0;
            background: linear-gradient(90deg, $black, rgba($black, 0));
        }

        &:after {
            right: 0;
            background: linear-gradient(90deg, rgba($black, 0), $black);
        }
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        position: relative;
        z-index: 2;
        max-width: rem(343px);
    }

    &__title {
        @include type-responsive($cover-title);
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(52px);
        padding-bottom: rem(165px);
        align-items: center;

        &__content {
            max-width: 56%;
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}