.dropdown-menu {
    &__toggle {
        max-width: 100%;

        &-icon {
            transition: transform .25s ease-in-out;
            transform: rotate(0);
        }

        &-text {
            @include text-truncate();
        }
    }

    &__content {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: $white;
        padding: rem(14px 30px 30px 51px);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-in-out;
        max-height: calc(100vh - 55px);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    &.is-visible & {
        &__toggle {
            &-icon {
                transform: rotate(180deg);
            }
        }

        &__content {
            opacity: 1;
            visibility: visible;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}