$event-slide-text: (
    xs: ($font-size-md, $line-height-base),
) !default;

$event-slide-common: (
    xs: ($font-size-base, $line-height-base),
    lg: (18px, 22.01px),
) !default;

.event-slide {
    min-height: 100px;
    @include type-responsive($event-slide-common);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: $grid-gutter;
    padding-top: rem($gutter);
    padding-bottom: rem($gutter);

    &__date,
    b,
    strong {
        font-weight: $font-weight-medium;
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        &:nth-child(1) {
            grid-area: 1 / 2 / 2 / 3;
            justify-content: flex-end;
        }

        &:nth-child(2) {
            grid-area: 1 / 1 / 3 / 2;
        }

        &:nth-child(3) {
            grid-area: 2 / 2 / 3 / 3;
            justify-content: flex-start;
        }
    }

    &__text {
        display: block;
        @include type-responsive($event-slide-text);
        padding-top: rem(3px);
        padding-bottom: rem(4px);
    }

    &__label {
        display: none;
    }

    &__date {
        @include type-responsive($event-slide-common);
    }

    &__img {
        display: block;
        max-height: 24px;
        width: auto;
    }

    @include media-breakpoint-up(lg) {
        &__text {
            font-size: inherit;
            line-height: inherit;
        }
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 0;
        grid-column-gap: 0;

        &__label {
            display: block;
        }

        &__text {
            padding-left: rem($gutter);
            padding-right: rem($gutter);
        }

        &__section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-left: 1px solid $black-4;
            padding: rem( ( $gutter * 2.5) ($gutter * 3));

            &:nth-child(1) {
                justify-content: space-between;
            }

            &:nth-child(2) {
            }

            &:nth-child(3) {
                justify-content: space-between;
            }
        }

        &__img {
            max-height: rem(40px);
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}