.feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__picture {
        @include size(rem(62px));
        @include rounded;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rem(11px);
    }

    &__icon {
        @include size(rem(40px));
        fill: currentColor;
    }

    &__title {
        font-weight: $font-weight-normal;
    }
}