.file {
    display: flex;
    align-items: flex-start;
    text-decoration: none;

    &__picture {
        margin-right: rem($grid-gutter);
        max-width: rem(50px);
        flex: 0 0 rem(50px);
    }

    &__icon {
        @include size(rem(50px), rem(68px));
    }

    &__content {
        max-width: rem(300px);
    }

    &__info {
        color: $gray-6;
        @include font($font-size-md, $line-height-base, $font-weight-medium);
        text-transform: uppercase;
        margin-top: rem($gutter * .5);
    }

    @include media-breakpoint-up(lg) {
    }
}