.image {
    &__picture {
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__caption {
        background-color: $white;
        padding: rem($grid-gutter * 1.25 $grid-gutter * .5 $grid-gutter * 1.1);
        @include font($font-size-md, $line-height-md);

        ol:not([class]) {
            > li {
                &,
                .text-block & {
                    padding-left: rem(33px);
                    margin-bottom: .74em;
                }

                &:before {
                    top: 0;
                    background-color: $primary;
                    color: $base-color;
                    @include size(1.31em);
                    @include rounded;
                    font-weight: $font-weight-bold;
                    text-align: center;

                    .text-block & {
                        content: counter(ol-counter, decimal);
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
        &__caption {
            padding: rem($grid-gutter * 1.5 $grid-gutter * 2);

            ol:not([class]) {
                .text-block & {
                    margin-left: 0;
                }
            }
        }
    }
}