.img-banner {
    display: block;
    text-decoration: none;
    color: $base-color;
    background-color: $gray-2;

    &__picture {
        @include aspect-ratio-block(399/266);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        padding: rem($grid-gutter * 1.9 $grid-gutter * 1.5 $grid-gutter * 2.5);
    }

    &__description {
        margin-bottom: rem($grid-gutter * 2.15);
    }

    &__logo {
        display: block;
    }

    @include media-breakpoint-up(md) {
        display: flex;

        &__picture {
            max-width: 45%;
            flex: 0 0 45%;
        }

        &__content {
            flex: 1;
            align-self: center;
            padding-top: rem($grid-gutter * 2.15);
            padding-left: rem($grid-gutter * 3);
            padding-right: rem($grid-gutter * 3);
            padding-bottom: rem($grid-gutter * 2.25);
        }
    }

    @include media-breakpoint-up(lg) {
    }
}