.job-sites {
    &__section {
        border-top: 1px solid $gray-2;
        padding-top: rem($grid-gutter * 1.5);
        padding-bottom: rem($grid-gutter * 2);

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__title {
        &-img {
            margin-left: rem(3px);
            position: relative;
            top: rem(-2px);
        }
    }

    @include media-breakpoint-up(md) {
        &__section {
            padding-top: rem($grid-gutter * 2);
            padding-bottom: rem($grid-gutter * 3);
        }
    }
}