.lang-switch {
    flex-wrap: nowrap;

    &__toggle {
        position: relative;
        display: block;
        width: 100%;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        padding-top: rem($gutter);
        padding-bottom: rem($gutter);
        padding-right: rem($grid-gutter);
        margin-bottom: rem(4px);
        position: relative;

        &:after {
            font-size: rem(18px);
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &.is-active {
            &:after {
                position: absolute;
            }
        }
    }

    &--modal {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--modal & {
        &__title {
            margin-bottom: rem(13px);
        }

        &__toggle {
            width: auto;
            margin-bottom: rem(14px);
        }

        &__button {
            max-width: rem(186px);
        }

        &__label {
            margin-top: rem(42px);
            margin-bottom: rem(14px);
            font-weight: $font-weight-normal;
        }

        &__list {
            @include make-row(rem(24px));
        }

        &__item {
            @include make-col(rem(24px));
            margin-bottom: -1px;
            max-width: 50%;
            flex: 0 0 50%;
            padding-top: rem(13px);
            padding-bottom: rem(16px);

            &:before,
            &:after {
                height: 1px;
                background-color: $gray-2;
                position: absolute;
                left: rem(12px);
                right: rem(12px);
                content: '';
            }

            &:before {
                top: 0;
            }

            &:after {
                bottom: 0;
                top: auto;
                transform: none;
            }
        }
    }

    &--mobile.is-active {
        .lang-switch__list {
            transform: translateX(0);
            transition-delay: 0s;
        }
    }

    &--mobile & {
        &__toggle {
            padding-right: rem($grid-gutter);

            &:after {
                position: absolute;
                font-size: rem(16px);
                top: 50%;
                right: 0;
                color: $white;
                transform: translateY(-54%);
            }
        }

        &__list {
            position: fixed;
            top: rem(73px);
            right: 0;
            bottom: 0;
            width: 100%;
            overflow: auto;
            background-color: $black;
            color: inherit;
            z-index: 100;
            transform: translateX(100%);
            padding-top: rem(24px);
            padding-left: rem(33px);
            padding-right: rem(33px);
            transition: all .4s ease-in-out .2s;
        }

        &__item {
            &:after {
                color: $white;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &--dropdown {
            position: relative;
        }

        &--dropdown.is-active {
            .lang-switch__toggle {
                &:before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            .lang-switch__list {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
            }
        }

        &--dropdown & {
            &__toggle {
                padding-left: rem($grid-gutter * .7);

                &:before {
                    position: absolute;
                    font-size: rem(8px);
                    top: 50%;
                    left: 0;
                    color: $gray-6;
                    transform: translateY(-50%) rotate(0);
                    transition: transform .25s ease-in-out;

                    .header--transparent & {
                        color: $white;
                    }
                }
            }

            &__list {
                position: absolute;
                top: 100%;
                left: rem($grid-gutter * .65);
                min-width: rem(100px);
                background-color: $white;
                z-index: 100;
                opacity: 0;
                visibility: hidden;
                transition: all .25s ease-in-out .1s;
                box-shadow: 0 2px 8px rgba($black, 0.15);
                padding: 0;
                margin-top: -1px;
                border-top: 2px solid $primary;

                .header--transparent & {
                    background-color: $black;
                    box-shadow: 0 2px 8px rgba($gray-6, 0.35);
                }
            }

            &__item {
                border-bottom: 1px solid $gray-2;
                padding: rem(7px 17px 6px 10px);
                margin-bottom: 0;
                white-space: nowrap;

                .header--transparent & {
                    border-color: $gray-6;
                }

                &:last-child {
                    border-bottom-width: 0;
                }

                &.is-active {
                    display: none;
                }
            }
        }
    }
}