.lang {
    display: flex;
    align-items: center;
    color: $gray-6;
    cursor: pointer;
    text-decoration: none;

    &__flag {
        display: block;
        margin-top: rem(-2px);
        margin-right: rem($gutter);
        @include size(rem(24px), rem(15px));
        flex: 0 0 rem(24px);
    }

    &__name {
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }

    &.is-active {
        color: $base-color;

        .mobile-menu &,
        .header--transparent & {
            color: $white;
        }
    }

    @include hover-focus {
        color: inherit;
    }

    @include media-breakpoint-up(xl) {
        &__flag {
            border: 1px solid $gray;

            .header--transparent & {
                border: 0;
            }
        }

        &__name {
            font-weight: $font-weight-normal;
        }
    }
}