.list-default {
    @include list-unstyled;

    > li {
        position: relative;
        padding-left: rem($grid-gutter);
        margin-bottom: 1em;

        &:before {
            position: absolute;
            top: .67em;
            left: 0;
            @include size(rem(5px));
            @include rounded;
            background-color: $primary;
            content: '';
        }
    }

    &--compact {
        > li {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &--columns {
            columns: 2;
            column-gap: 0;

            li {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                padding-right: rem($grid-gutter * 3);
            }
        }
    }
}