.menu-l3 {
    @include list-unstyled;

    &__item {
    }

    &__link {
        display: block;
        margin-bottom: rem($gutter);
        @include font($font-size-md, $line-height-md);
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;

        @include hover-focus {
            color: inherit;
        }

        &.is-selected {
            font-weight: $font-weight-bold;
        }
    }

    @include media-breakpoint-up(xl) {
    }
}