.menu-l2 {
    @include list-unstyled;

    &__item {
        &--divided {
            border-top: 1px solid $gray-2;
            margin-top: rem($gutter * .7);
            padding-top: rem($gutter * .5);

            .menu--mobile & {
                border-top-color: $black-3;
                margin-top: rem($gutter * .95);
                padding-top: rem($gutter * .9);
            }
        }

        .menu--default & {
            margin-bottom: rem(1px);
        }

        .menu--mobile & {
            margin-bottom: rem(9px);
        }
    }

    &__link {
        display: block;
        padding-top: rem(9px);
        padding-bottom: rem(8px);
        @include font($font-size-md, $line-height-md);
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;

        @include hover-focus {
            color: inherit;
        }

        &.is-selected {
            font-weight: $font-weight-bold;
        }
    }

    &__icon {
        @include size(rem(24px));
        @include rounded();
        @include font(14px, 24px);
        text-align: center;
        min-width: rem(24px);
        background-color: $primary;
        margin-top: rem(-3px);
        margin-right: rem(8px);
        margin-bottom: rem(-3px);
        color: $base-color;
    }


    &__toggle {
        position: absolute;
        top: 50%;
        right: 0;
        @include size(24px);
        @include font($font-size-base, 24px);
        text-align: center;
        transition: .2s ease-in-out;
        transform: translateY(-50%) rotate(90deg);
        color: $gray-3;
        margin-right: rem(-8px);
    }

    @include media-breakpoint-up(xl) {
        .menu--aside & {
            &__item {
                &--divided {
                    margin-top: rem($gutter * 1.5);
                    padding-top: rem($gutter * 1.5);
                }

                &.is-collapsed {
                    .menu__l3 {
                        visibility: hidden;
                        overflow: hidden;
                        max-height: 0;
                        padding-bottom: 0;
                        opacity: 0;
                    }

                    .menu-l2__toggle {
                        transform: translateY(-50%) rotate(0);
                    }
                }
            }

            &__link {
                position: relative;
                padding-top: rem($gutter);
                padding-right: rem(24px);
                padding-bottom: rem($gutter);
                @include font($font-size-base, 20.01px);
            }

            .menu__l3 {
                max-height: 500px;
                opacity: 1;
                visibility: visible;
                transition: all .4s ease-in-out;
            }
        }
    }
}