.menu {
    @include list-unstyled;

    &__item {
        position: relative;
        padding-right: rem(36px);
    }

    &__link {
        display: block;
        color: inherit;
        text-decoration: none;

        @include hover-focus {
            color: inherit;
        }
    }

    &__toggle {
        position: absolute;
        top: rem(4px);
        right: 0;
        @include size(24px);
        @include font($font-size-html, 24px);
        text-align: center;
        transition: .2s ease-in-out;
        transform: rotate(90deg);
    }

    &--default {
        border: 1px solid $gray-2;
        border-width: 1px 0;
        padding-top: rem($gutter * 1.5);
        padding-bottom: rem($gutter * .5);

        .menu__item.is-collapsed {
            .menu__toggle {
                transform: rotate(0);
            }

            .menu__l2 {
                visibility: hidden;
                overflow: hidden;
                max-height: 0;
                padding-bottom: 0;
                opacity: 0;
            }
        }
    }

    &--default & {
        &__item {
            margin-bottom: rem($gutter);
        }

        &__link {
            @include font(17px, 20.01px, $font-weight-bold);
            padding-top: rem($gutter * .5);
            padding-left: rem(18px);
            padding-bottom: rem($gutter * .5);

            &.is-selected {
                color: $gray-4;
            }
        }

        &__toggle {
            top: rem(4px);
            color: $gray-5;
        }

        &__l2 {
            max-height: 500px;
            padding-left: rem(34px);
            padding-bottom: rem(9px);
            opacity: 1;
            visibility: visible;
            transition: all .4s ease-in-out;
        }
    }

    &--mobile {
        .menu__item.is-collapsed {
            .menu__l2 {
                transform: translateX(100%);
                visibility: hidden;
            }
        }
    }

    &--mobile & {
        &__item {
            @include margin-bottom(rem($gutter * .5));
        }

        &__link {
            @include font(18px, 20.01px, $font-weight-bold);
            padding-top: rem($gutter);
            padding-bottom: rem($gutter);
        }

        &__toggle {
            top: rem($gutter);
            right: rem(-8px);
            color: inherit;
            transform: rotate(0);
        }

        &__l2 {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            overflow: auto;
            background-color: $black;
            color: inherit;
            z-index: 100;
            transform: translateX(0);
            visibility: visible;
            transition: all .4s ease-in-out .2s;
            padding-top: rem(16px);
            padding-left: rem(33px);
            padding-right: rem(33px);

            &-header {
                margin-bottom: rem($grid-gutter * 2);
                display: flex;
                align-items: center;
            }

            &-icon {
                margin-left: rem(-8px);
                margin-right: rem(8px);
            }
        }
    }

    &--aside & {
        &__l3 {
            margin-left: rem(13px);
        }
    }

    @include media-breakpoint-up(xl) {
        &--aside {
            margin-top: rem(- $gutter);
        }
    }
}