$modal-title: (
    xs: (22px, 30.01px, '', rem($grid-gutter * 1.5)),
    lg: (24px, 30.01px, '', rem($grid-gutter)),
) !default;

.modal {
    background-color: $white;
    margin: auto;
    position: relative;
    max-height: 100%;
    overflow: auto;

    .mfp-close {
        @include size(rem($grid-gutter * 3.4));
        line-height: rem($grid-gutter * 3.4);

        &:before {
            font-size: rem($grid-gutter * 1.5);
            color: $base-color;
        }
    }

    &__content {
        padding: rem($grid-gutter);
    }

    &__title {
        @include type-responsive($modal-title);
    }

    &--lang {
        max-width: rem(343px);
        box-shadow: 0 4px 6px rgba($black, 0.15);
        border-radius: 26px;

        .mfp-close {
            @include size(rem($grid-gutter * 1.5));
            line-height: rem($grid-gutter * 1.5);
            top: rem($grid-gutter * 1.5);
            right: rem($grid-gutter * .8);

            &:before {
                font-size: rem($grid-gutter * 1.5);
            }
        }
    }

    &--lang & {
        &__content {
            padding: rem( $grid-gutter * 1.5 $grid-gutter * 2 37px);
        }
    }

    @include media-breakpoint-up(md) {
    }
}