.news-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background-color: $white;

    &__picture {
        @include aspect-ratio-block(380/178);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        padding: rem($grid-gutter $grid-gutter $grid-gutter * .35);
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;

        .page-home & {
            border: 1px solid $gray-2;
        }
    }

    &__date {
        color: $gray-6;
        margin-bottom: rem($grid-gutter * .7);
    }

    &__title {
        color: $base-color;
        margin-bottom: rem($grid-gutter * 1.4);
    }

    &__more {
        margin-top: auto;
    }

    @include media-breakpoint-up(lg) {
        &__content {
            padding: rem($grid-gutter * 1.25 $grid-gutter * 1.5 $grid-gutter * .6);
        }
    }
}