.pagination {
    margin-top: rem(43px);

    &__list {
        @include list-unstyled;
        @include make-row($grid-gutter-mobile);
        text-align: center;
    }

    &__item {
        @include make-col($grid-gutter-mobile);
        font-weight: $font-weight-medium;
    }

    &__link {
        display: block;
        border: 1px solid $gray-2;
        min-width: rem($grid-gutter * 2);
        height: rem($grid-gutter * 2);
        overflow: hidden;
        padding-left: rem( $gutter * .5 );
        padding-right: rem( $gutter * .5 );
        @include em-line-height($font-size-base, ( $grid-gutter * 2 ) - 1);
        color: inherit;

        @include hover-focus {
            color: inherit;
            border-color: $primary;
        }

        &.is-selected {
            background-color: $primary;
            border-color: $primary;
        }

        &.is-disabled {
            color: $gray-3;
        }
    }

    &__icon {
        margin-top: -4px;
    }
}
