.project-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    min-height: rem(453px);
    width: 100%;
    background-color: $white;

    &__picture {
        @include aspect-ratio-block(400/260);
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        padding: rem($grid-gutter * 1.4 $grid-gutter * .8 $grid-gutter * 1.85);
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
    }

    &__title {
        color: $base-color;
        margin-bottom: rem($grid-gutter * 1.4);
    }

    &__more {
        margin-top: auto;
    }

    @include media-breakpoint-up(md) {
        flex-direction: row-reverse;
        min-height: rem(260px);

        &__content {
            padding-top: rem($grid-gutter * 2.9);
            padding-left: rem($grid-gutter * 1.5);
            padding-right: rem($grid-gutter * 1.5);
        }

        &__picture {
            max-width: rem(400px);
            flex: 0 0 45.5%;
        }
    }

    @include media-breakpoint-up(lg) {
        &__content {
            padding-right: rem($grid-gutter * 2);
        }
    }
}