.project-slide {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__picture {
        height: rem(444px);
        width: 100%;
        margin-top: auto;
        position: relative;
        overflow: hidden;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($black, .4);
            content: '';
            z-index: 1;
        }
    }

    &__img {
        @extend %cover-image;
    }

    &__content {
        padding: rem( ( $grid-gutter * 1.5 ) $grid-gutter 0);
        background-color: $gray;
        margin-left: rem($grid-gutter-mobile * 2);
        margin-right: rem($grid-gutter-mobile * 2);
        margin-bottom: rem(-222px);
        position: relative;
        z-index: 2;
        max-height: rem(485px);
        overflow: auto;
    }

    &__title {
        color: $base-color;
        margin-bottom: rem(21px);
    }

    &__description {
        margin-bottom: 0;
        color: $base-color;
    }

    &__more {
        position: sticky;
        bottom: 0;
        padding-top: rem(19px);
        padding-bottom: rem(18px);
        background-color: $gray;
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        &__picture {
            height: rem(475px);
        }

        &__content {
            margin-left: auto;
            margin-right: auto;
            max-width: rem(640px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__content {
            margin-right: rem($grid-gutter);
            position: absolute;
            top: rem(-136px);
            right: 0;
            max-height: rem(373px);
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__content {
            max-width: rem(540px);
        }
    }

    @include media-breakpoint-up(xl) {
        &__content {
            margin-right: calc((100% - 1180px) / 2 + 100px);
            padding: rem( ( $grid-gutter * 2.5 ) ( $grid-gutter * 2.5 ) 0);
        }

        &__title {
            margin-bottom: rem(25px);
        }

        &__more {
            padding-top: rem(29px);
            padding-bottom: rem(( $grid-gutter * 1.9 ));
        }
    }

    @include media-breakpoint-up(2xl) {
    }
}