.progress {
    display: flex;
    height: $progress-height;
    overflow: hidden; // force rounded corners by cropping it
    font-size: $progress-font-size;
    background-color: $progress-bg;
    border-radius: $progress-border-radius;

    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $progress-bar-color;
        text-align: center;
        background-color: $progress-bar-bg;
        @include transition($progress-bar-transition);
    }
}