.publication {
    text-decoration: none;

    &__title {
        font-weight: $font-weight-normal;
        margin-bottom: rem($gutter);
    }

    &__text {
        color: $base-color;
        @include font($font-size-md, 20.01px);
    }

    @include media-breakpoint-up(lg) {
    }
}