.quick-menu {
    @include list-unstyled;

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: inherit;
        text-decoration: none;

        @include hover-focus {
            color: inherit;
            opacity: 0.75;
        }
    }

    &__img {
        display: block;
        fill: currentColor;
        @include size(rem(46px), rem(77px));
        margin-bottom: rem($gutter);
    }

    &__name {
        display: block;
        @include em-line-height($font-size-base, 18.01px);
    }

    @include media-breakpoint-up(md) {
        &__list {
            margin-left: rem(-35px);
            margin-right: rem(-35px);
        }

        &__item {
            padding-left: rem(35px);
            padding-right: rem(35px);
        }

        &__link {
            flex-direction: row;
        }

        &__img {
            margin-right: rem($gutter);
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        &__img {
            @include size(rem(61px), rem(102px));
            margin-right: rem($grid-gutter);
        }

        &__name {
            @include font(20px, 23.01px);
        }
    }
}