.quick-links {
    @include list-unstyled;

    &__link {
        display: block;
        @include font($font-size-md, 15.01px);
        text-decoration: none;
    }

    &--vertical & {
        &__link {
            color: $gray-4;
            padding-top: rem($gutter);
            padding-bottom: rem($gutter);

            @include hover-focus {
                color: $white;
            }
        }
    }

    &--horizontal {
        @include make-row(rem(25px));
    }

    &--horizontal & {
        &__item {
            @include make-col(rem(25px));
        }

        &__link {
            color: $gray-6;

            @include hover-focus {
                color: $link-hover-color;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &--horizontal & {
            &__link {
                .header--transparent & {
                    color: $gray-4;
                }

                @include hover-focus {
                    .header--transparent & {
                        color: $white;
                    }
                }
            }
        }
    }
}