.screen {
    background-color: $white;
    padding: rem($gutter);

    &__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(lg) {
        padding: rem($grid-gutter);
    }
}