.service-card {
    background-color: $white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: rem(145px);
    text-decoration: none;
    padding: rem($grid-gutter * 1.25);

    &__picture {
        @include size(rem($grid-gutter * 2));
        min-width: rem($grid-gutter * 2);
        margin-right: rem($grid-gutter * .6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        @include size(rem($grid-gutter * 2));
        display: block;
        fill: currentColor;
    }

    &__title {
        margin-bottom: 0;
        color: $base-color;
    }

    &--full {
        min-height: rem($grid-gutter * 5);
        padding-left: rem($grid-gutter);
        padding-right: rem($grid-gutter * .65);
    }

    &--full & {
        &__picture {
            margin-right: rem($grid-gutter * .75);
        }

        &__title {
            font-weight: $font-weight-medium;
        }

        &__more,
        &__action {
            display: none;
        }
    }

    @include hover-focus {
        background-color: $primary;

        .service-card__title {
            color: $base-color;
        }
    }

    .page-home & {
        border: 1px solid $gray-2;

        @include hover-focus {
            border-color: $primary;
        }
    }

    @include media-breakpoint-up(md) {
        &--full {
            flex-direction: column;
            align-items: flex-start;
            min-height: rem(323px);
            padding: rem($grid-gutter * 1.5 $grid-gutter $grid-gutter * .8);

            @include hover-focus {
                .service-card__button {
                    border-color: $btn-primary-bg-light;
                    background-color: $btn-primary-bg-light;
                }
            }
        }

        &--full & {
            &__picture {
                margin-bottom: rem($grid-gutter * .75);
            }

            &__title {
                line-height: 1.5;
                margin-bottom: rem($grid-gutter * .55);
            }

            &__more,
            &__action {
                display: block;
            }

            &__more {
                margin-bottom: rem($grid-gutter * 1.6);
            }

            &__action {
                margin-top: auto;
            }

            &__button {
                min-width: 0;
            }
        }
    }
}