.showcase-card {
    background-color: $gray;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: rem(308px);
    width: 100%;
    text-decoration: none;
    color: $base-color;

    &__content {
        padding: rem($grid-gutter 5px $grid-gutter $grid-gutter);
        max-width: 52%;
        flex: 0 0 52%;
    }

    &__title {
        margin-bottom: 0;
    }

    &__description {
        display: none;
    }

    &__picture {
        display: flex;
        align-items: center;
        max-width: 48%;
        flex: 0 0 48%;
    }

    &__img {
        display: block;
        max-height: 100%;
        width: auto;
    }

    @include hover-focus {
        color: $base-color;
    }

    @include media-breakpoint-up(lg) {
        min-height: rem(430px);

        &__content {
            align-self: flex-start;
            padding: rem(50px 5px 30px 30px);
        }

        &__description {
            display: block;
            margin-top: rem(24px);
        }
    }
}