.slogan {
    display: flex;
    align-items: center;
    @include font(22px, 30.01px, $font-weight-bold);

    &:before {
        display: block;
        @include size(178px);
        flex: 0 0 rem(178px);
        @include rounded;
        margin-right: rem(-111px);
        background-color: $primary;
        content: '';
    }

    &__text {
        flex: 1;
    }

    @media(min-width: 375px) {
        &:before {
            margin-right: rem(-91px);
        }
    }

    @include media-breakpoint-up(lg) {
        @include font(24px, 30.01px);
    }
}