.social {
    @include list-unstyled;
    @include make-row(rem(35px));
    align-items: center;

    &__item {
        @include make-col(rem(35px));
    }

    &__link {
        font-size: rem(25px);
        text-decoration: none;
        opacity: 1;

        &.icon-vkontakte {
            font-size: rem(29px);
        }

        @include hover-focus {
            color: $primary;
        }
    }

    &--lg {
        margin-left: rem(-13px);
        margin-right: rem(-13px);
    }

    &--lg & {
        &__item {
            padding-left: rem(13px);
            padding-right: rem(13px);
        }

        &__link {
            font-size: rem(33px);

            &.icon-vkontakte {
                font-size: rem(38px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-left: rem( - $gutter);
        margin-right: rem( - $gutter);

        &__item {
            padding-left: rem($gutter);
            padding-right: rem($gutter);
        }
    }
}