$sticker-font: (
    xs: (9px, 23.01px, $font-weight-medium),
    md: (10px, 22.01px),
) !default;

.sticker {
    display: inline-block;
    padding-left: rem($gutter);
    padding-right: rem($gutter);
    @include type-responsive($sticker-font);

    &--primary {
        background-color: $primary;
        color: $base-color;
    }

    @include media-breakpoint-up(md) {
        padding: rem(4px $grid-gutter 3px);
    }

    @include media-breakpoint-up(2xl) {
    }
}