.success-message {
    &__action {
        margin-top: rem($grid-gutter * 1.15);
    }

    &__button {
        max-width: 320px;
    }

    &--sm & {
        &__title {
            @include font($font-size-xl, $line-height-xl, $font-weight-normal);
            margin-bottom: rem($grid-gutter);
        }

        &__description {
            @include font($font-size-md, $line-height-md - 1);
        }

        &__action {
            margin-top: rem($grid-gutter * 2.5);
        }
    }

    @include media-breakpoint-up(md) {
        &__action {
            margin-top: rem($grid-gutter * 1.5);
        }
    }
}