.table-wrapper {
    overflow: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    margin-left: rem(- $grid-gutter-mobile * 2);
    margin-right: rem(- $grid-gutter-mobile * 2);

    &.ps--active-x {
        padding-bottom: rem(40px);

        .ps__rail-x {
            opacity: 1;
        }
    }

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
    }
}