.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    font-weight: $font-weight-medium;
    @include font(12px, 14.01px);

    thead {
        th,
        td {
            background-color: $primary;
        }
    }

    tbody {
        th {
            background-color: $base-color;
            color: $white;
            font-weight: $font-weight-normal;
        }

        tr:first-child {
            th,
            td {
                padding-top: rem($gutter * 1.6);
                height: rem($grid-gutter * 3);
            }
        }
    }

    th,
    td {
        height: rem($grid-gutter * 2.5);
        min-width: rem(117px);
        padding: rem( ( $gutter * .5 ) $gutter);
        vertical-align: middle;
        border: 1px solid $gray-2;
        border-width: 0 1px 0 0;
    }

    th {
        text-align: left;
        position: sticky;
        left: 0;
        z-index: 1;
        max-width: rem(220px);
    }

    td {
        text-align: center;
        position: relative;

        &:not(.no-hover).is-hovered {
            cursor: pointer;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                background-color: rgba($white, .5);
                //z-index: 1;
            }

            > * {
                position: relative;
            }
        }
    }

    tr {
        &.is-important {
            th {
                font-weight: $font-weight-bold;
            }
        }

        &.is-divided {
            th,
            td {
                border-top-width: 1px;
                padding-top: rem($gutter * 1.5);
            }

            th {
                border-top-color: $white;
            }
        }
    }

    .button-col {
        th,
        td {
            vertical-align: bottom;
            padding-bottom: 0;
            height: rem($grid-gutter * 3);
        }
    }

    .button {
        @include font(12px, 14.01px);
        padding: rem(14px 13px);

        &__icon {
            font-size: rem(14px);
            margin-left: rem(4px);
        }
    }

    @include media-breakpoint-up(md) {
        font-weight: $font-weight-normal;
        @include font($font-size-md, 14.01px);

        thead {
            font-weight: $font-weight-bold;
        }

        th,
        td {
            padding-top: rem(4px);
            padding-bottom: rem(4px);
        }

        th {
            @include font(12px, 14.01px);
        }

        tr {
            &.is-important {
                th,
                td {
                    font-weight: $font-weight-bold;
                }

                &:not(.is-divided) {
                    th,
                    td {
                        height: rem($grid-gutter * 2);
                    }
                }
            }

            &.is-divided {
                th,
                td {
                    border-top-width: 0;
                    padding-top: rem($grid-gutter);
                }
            }
        }
    }
}