.text-block {
    h2 {
        &:not(:first-child) {
            margin-top: rem($grid-gutter * 2);
        }
    }

    h3 {
        &:not(:first-child) {
            margin-top: rem($grid-gutter * 1.5);
        }
    }

    h3,
    h4,
    h5,
    h6 {
        margin-bottom: rem($grid-gutter * .8);
    }

    ul:not([class]),
    ol:not([class]) {
        @include list-unstyled;

        > li {
            position: relative;
            padding-left: rem($grid-gutter);
            margin-bottom: 1.2em;

            &:before {
                position: absolute;
                left: 0;
            }
        }
    }

    ul:not([class]) {
        > li {
            &:before {
                @include size(rem(5px));
                @include rounded;
                background-color: $primary;
                top: .67em;
                content: '';
            }
        }
    }

    ol:not([class]) {
        counter-reset: ol-counter;

        > li {
            &:before {
                top: 0;
                counter-increment: ol-counter;
                content: counter(ol-counter, decimal)".";
            }
        }
    }

    dt,
    dd {
        margin-bottom: rem(8px);
    }

    dt {
        font-weight: $font-weight-bold;
    }

    .img-banner {
        margin-top: rem($grid-gutter * 2);
        @include margin-bottom(rem($grid-gutter * 2));
    }

    .slogan {
        margin-top: rem($grid-gutter * 3);
        margin-right: rem( - $grid-gutter * .5);
        @include margin-bottom(rem($grid-gutter * 3));
    }

    .images,
    .video {
        margin-top: rem($grid-gutter);
    }

    .video {
        @include margin-bottom(rem($grid-gutter));
    }

    .images + .video,
    .images + .images,
    .video + .images {
        margin-top: 0;
    }

    .client-card {
        margin-top: rem($grid-gutter * 1.4);
        margin-bottom: rem($grid-gutter);
    }

    @include media-breakpoint-up(md) {
        &--columns {
            columns: 2;
            column-gap: rem($grid-gutter);

            h2 {
                column-span: all;
            }

            p,
            ul,
            ol,
            dl,
            section {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        h2 {
            &:not(:first-child) {
                margin-top: rem($grid-gutter * 3);
            }
        }

        ul:not([class]),
        ol:not([class]) {
            margin-left: rem($grid-gutter * .7);
        }

        .images,
        .video {
            margin-top: rem($grid-gutter * 1.5);
        }

        .images {
            margin-bottom: rem($grid-gutter * .5);
        }

        .video {
            margin-bottom: rem($grid-gutter * 1.5);
        }

        .client-card {
            margin-top: rem($grid-gutter * 2.15);
            margin-bottom: rem($grid-gutter * 1.1);
        }

        &--columns {
            column-gap: rem($grid-gutter * 3);
        }
    }
}