.thumbs {
    padding: rem($grid-gutter * .75 41px);

    &__item {
        background-color: rgba($white, 0);
        border: 1px solid rgba($white, 0);
        @include size(rem(52px));
        padding: rem(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color .25s ease-in-out;

        &.swiper-slide-thumb-active {
            border-color: $primary;
            background-color: $white;

            .product__thumbs-img {
                opacity: 1;
            }
        }
    }

    &__img {
        display: block;
        opacity: .55;
        mix-blend-mode: normal;
        transition: opacity .25s ease-in-out;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 0;
        bottom: 0;
        transform: none;
        width: rem(23px);
        height: auto;
        background: none;
        color: inherit;

        &:after {
            font-size: rem(14px);
        }
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    @include media-breakpoint-up(lg) {
        padding-left: rem(47px);
        padding-right: rem(47px);

        &__item {
            @include size(rem(75px));
            padding: rem(4px);
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: rem(33px);

            &:after {
                font-size: rem(17px);
            }
        }
    }
}