.utility-menu {
    @include list-unstyled;

    &__item {
        @include margin-bottom(rem($grid-gutter));
    }

    @include media-breakpoint-up(lg) {
        &__item {
            margin-bottom: rem($grid-gutter * .55);
        }

        &--files & {
            &__item {
                @include margin-bottom(rem($grid-gutter * .85));
            }
        }
    }
}