.utility-link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        @include size(rem(18px));
        flex: 0 0 rem(18px);
        border: 1px solid;
        border-radius: 5px;
        margin-right: rem($gutter);
    }

    &__icon {
        font-size: rem(10px);

        &.icon-play {
            font-size: rem(6px);
        }
    }

    &__name {
        border-bottom: 1px dashed;
    }

    @include media-breakpoint-up(lg) {
    }
}