.video {
    &__placeholder {
        @include aspect-ratio-block(880/497);
    }

    iframe {
        @extend %cover-image;
    }

    &__caption {
        color: $gray-6;
        margin-top: rem($gutter);
        @include font(12px, 16.01px);
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(2xl) {
    }
}